<div class="medium_wrapper">
  <noscript>
    <%= form_tag({:controller => "main", :action => 'change_install'}, :method => "get") do -%>
      <input name="release" value="<%= @release %>" type="hidden" />
      <input name="locale" value="<%= @lang %>" type="hidden"/>
      <button name="medium" value="<%= medium %>" style="width: 630px; margin-bottom: 20px; background: #ccc" class="changeiso">
        <div>
          <p>
            <%= image_tag medium + "_icon.png", :style=> "width: 64px; height: 64px; margin: 5x; float: left", :alt=>"", :width => 64, :height => 64 %>
            <span style="font-size: 120%; font-weight: bold; height: 60px"><%= shorttext %></span>
            <br/>
            <span style="font-size: 90%; font-weight: 500"><%= longtext %></span>
          </p>
        </div>
      </button>
    <% end %>
  </noscript>

  <div id="ci_<%= medium %>" class="hidden changeiso script_only <%= if @medium == medium then 'medium_selected' else 'medium_unselected' end %> ">
    <%= if @medium == medium then iclass='icon_selected' else iclass='icon_unselected' end
    image_tag(medium + "_icon.png", :alt => "", :id => "icon_" + medium, :class => iclass) %>
    <div>
      <span style="font-size: 120%; font-weight: bold"><%= shorttext %></span>
      <br/>
      <span style="font-size: 90%; font-weight: 500"><%= longtext %></span>
    </div>
  </div>

</div>

<% if medium == "derivatives" %>
  <div <%= 'class="script_only hidden"' if @medium != medium %> >
    <div id="derivativesDiv">
      <%= _('Some of the live distributions based on openSUSE. Those interested in trying to build their own derivatives can take a look at <a href="http://susestudio.com/">SUSE Studio</a>.') %>
      <br/>
      <a class="download_buttonClass" href="<%= _('http://en.opensuse.org/Derivatives') %>" style="text-decoration:none;padding:6px;padding-bottom:4px;float:right" ><%= _('see Derivatives on wiki') %></a>
    </div>
  </div>
<% else -%>
  <% if @medium == medium -%>
    <%= render :partial => "options" %>
  <% else -%>
    <div>
    </div>
  <% end -%>

<% end %>
