<a class="iso_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso">
  <%= image_tag "dot_media.png", :alt => _("Download"), :title => _("Click to Download"), :width => 26, :height => 26 %>
</a>
<a class="iso_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso"><%= text -%></a>

(<a class="gpg_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso.asc">gpg</a> |
<a class="md5_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso.md5">md5</a> |
<a class="sha1_<%= id %>" href="<%= @directory %>/iso/openSUSE-<%= @isos[iso] %>.iso.sha1">sha1</a>)
