<%- url = "#{@directory}/iso/openSUSE-#{@isos[medium+'-64']}.iso" %>
<div class="medium_wrapper">
  <div class="changeiso">
    <%= image_tag medium + "_icon.png", class: "medium_icon" %>
    <div style="padding-left: 70px">
      <span style="font-size: 120%; font-weight: bold"><%= shorttext %></span>
      <br/>
      <span style="font-size: 90%; font-weight: 500"><%= longtext %></span>
      <br/>
      <h4><%=_("Download Method")%> <%= image_tag 'help-browser.png', :class => "downloadMethodHelpPopup help_icon", :alt => "?", :width => 16, :height => 16 %></h4>
      <%
        links = []
        links << { label: _("Direct Link"), url: url}
        unless medium == "net" || @release == "developer"
          links << { label: _("BitTorrent"), url: "#{url}.torrent" }
        end
        links << { label: _("Metalink"), url: "#{url}.meta4" }
        links << { label: _("Pick Mirror"), url: "#{url}?mirrorlist" }
      %>
      <span style="font-size: 90%; float: right"><%= link_to _("SHA256 checksum"), "#{url}.sha256" %></span>
      <%= links.map { |l| link_to(l[:label], l[:url]) }.join(" | ").html_safe %>
    </div>
  </div>
</div>
