<div>
  <form id="downloadForm" action="/main/download" style="height: 10em">
    <div id="downloadMethodDiv">
      <h4><%=_("Download Method")%> <%= image_tag 'help-browser.png', :id => "downloadMethodHelpPopup", :class => "help_icon", :alt => "?", :width => 16, :height => 16 %></h4>
      <div>
          <label class="l_change"><input id="p_http" name="protocol" value="http" checked="checked" type="radio" class="changeiso"/><%=_("Direct Link")%></label>
          <% if @release != 'developer' %>
              <label class="l_change" id="l_torrent"><input id="p_torrent" name="protocol" value="torrent" type="radio" class="changeiso"/><%=_("BitTorrent")%></label>
          <% end  %>
        <label class="l_change"><input id="p_metalink" name="protocol" value="metalink" type="radio" class="changeiso"/><%=_("Metalink")%></label>
        <label class="l_change"><input id="p_mirror" name="protocol" value="mirror" type="radio" class="changeiso"/><%=_("Pick Mirror")%></label>
      </div>

      <%= render partial: "help_method" %>
    </div>

    <div id="TypeOfComputerDiv">
      <h4><%= _("Type of Computer") %> <%= image_tag 'help-browser.png', :id => "architectureTypeHelpPopup", :class=>"help_icon", :alt=>"?", :width => 16, :height => 16 %></h4>

      <div>
          <label id="l_x86_64" class="l_change"><input id="x86_64" name="arch" value="x86_64" checked="checked" type="radio" class="changeiso" /><%=_("64 Bit PC")%></label>
          <% unless @isos['dvd-32'].blank? %>
              <label id="l_i686" class="l_change"><input id="i686" name="arch" value="i686" type="radio" class="changeiso" /><%=_("Legacy 32&nbsp;Bit&nbsp;PC")%></label>
          <% end %>
        <div id="help_arch_content" class="hidden">
          <h2><%=_("Help on Type of Computer")%></h2>
          <p>
            <%= _("openSUSE only supports PCs with 32 Bits and 64 Bits.") %>
          </p>
          <h3><%=_("64 Bit PC")%></h3>
          <p>
            <%= _("Most new computers support <a href=\"http://en.wikipedia.org/wiki/X86-64\">x86-64</a> (also known as AMD64 and Intel64), but some laptop processors and netbook processors do not support it. So you need to check wikipedia if you want to be sure your computer supports it.") %>
          </p>
          <% unless @isos['dvd-32'].blank? %>
              <h3><%=_("Legacy 32 Bit PC")%></h3>
              <p>
                  <%= _("This version runs on all PCs including those that support 64 Bit. If you have more than 3 GB of RAM you should prefer the 64 Bit version though. openSUSE does not support processors before Pentium - the live CDs even support only i686 (Pentium Pro and later).") %>
              </p>
          <% end %>
        </div>
      </div>

      <div id="downloadButtonDiv">
        <button class="download_buttonClass" id="download_button">
          <%= _("Download") %>
        </button>
        <span class="hidden" id="download_kde"><%= _("Download&nbsp;KDE") %></span>
        <span class="hidden" id="download_gnome"><%= _("Download&nbsp;GNOME") %></span>
        <span class="hidden" id="download_dvd"><%= _("Download&nbsp;DVD") %></span>
        <span class="hidden" id="download_net"><%= _("Download&nbsp;Network") %></span>
        <span class="hidden" id="download_rescue"><%= _("Download&nbsp;Rescue") %></span>
        <input type="hidden" name="release" value="<%= @release %>"/>
        <input name="medium" value="<%= @medium %>" type="hidden"/>
      </div>

    </div>


    <div id="docLinksDiv" style="float: left; width: 200px; ">
      <h4 style="width: 200px; "><%= _("Documentation") %></h4>
      <ul style="padding: 0px; margin-top: 0px; margin-left: 2em; display: table; list-style: disc outside none; ">
        <li><%= _("<a href=\"http://activedoc.opensuse.org/book/opensuse-start-up\">openSUSE startup guide</a>") %></li>
        <li><%= (_("<a href=\'%s\'>Release Notes</a>") % @releasenotes).html_safe %></li>
        <li><%= _('<a href="http://en.opensuse.org/openSUSE:License">License</a>')%></li>
      </ul>
    </div>

  </form>
</div>
