<% cache :locale => @lang, :medium => @medium do %>
<% 
@right_box = :search 
@page_title = _("Download %s") % @releasename
-%>

<div class="grid_9 alpha">

  <div class="box box-shadow">
    <h2 class="box-header">
      <span class="alignleft"><%= @box_title || @page_title -%></span>
      <% if @right_box == :search -%>
        <span class="alignright" style="padding-right: 10px">
          <% if !@release.blank? and @release != "developer" -%>
            <%= _('switch to') -%> <%= link_to _('Development Version'), {:controller => "main", :action => "developer", :locale => @lang } -%>
          <% elsif !@release.blank? -%>
            <%= _('switch to') -%> <%= link_to _('Released Version'), {:controller => "main", :action => "index", :locale => @lang } -%>
          <% end -%>
        </span>
      <% end -%>
    </h2>

    <div>
      <%= @leap ? render(partial: "leap_release") : render(partial: "non_leap_release") %>
    </div>
  </div>

</div>

<div class="grid_3 omega">

  <div class="box box-shadow">
    <h2 class="box-header centered"><%=_("Getting Help")%></h2>
    <ul class="navigation">
      <li><a href="<%= _("http://en.opensuse.org/SDB:Download_help") %>"><%=_("Download Help")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/SDB:Download_help\#Burn_the_ISO_image.28s.29") %>"><%=_("Burn CD/DVD Image(s)")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/Portal:Installation") %>"><%=_("Installation Guides")%></a></li>
      <li><a href="<%= _("http://doc.opensuse.org/") %>"><%=_("Official Manuals")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/Package_repositories") %>"><%=_("Package Repositories")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/openSUSE:Submitting_bug_reports") %>"><%=_("Reporting Bugs")%></a></li>
    </ul>
  </div>

  <!--
  <div class="box box-shadow">
    <h2 class="box-header centered"><%=_("Countdown")%></h2>
    <div class="centered">
      <%= link_to image_tag( "http://counter.opensuse.org/small", :title => _("openSUSE Countdown") ), "http://countdown.opensuse.org/link/" %>
    </div>
  </div>
  -->

  <div class="box box-shadow">
    <h2 class="box-header centered"><%=_("Sponsored by")%></h2>
    <p class="centered" style="color: #ccc; font-size: 0.8em"><%=_("Platinum Sponsor")%></p>
    <p class="centered">
    <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_amd.png', :width => 90, :height => 50, :alt => _("Sponsored by: AMD") ), "http://en.opensuse.org/Sponsors" %>
    </p>
    <p class="centered" style="color: #ccc; font-size: 0.8em;"><%=_("Gold Sponsor")%></p>
    <p class="centered">
      <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_ip-exchange.png', :width => 180, :height => 85, :alt => _("Sponsored by: IP Exchange") ), "http://en.opensuse.org/Sponsors" %>
    </p>
    <p class="centered" style="color: #ccc; font-size: 0.8em;"><%=_("Silver Sponsor")%></p>
    <p class="centered">
      <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_b1-systems.png', :width => 86, :height => 86, :alt => _("Sponsored by: B1 Systems") ), "http://en.opensuse.org/Sponsors" %>
      <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_heinlein.png', :width => 180, :alt => _("Sponsored by: Heinlein") ), "http://en.opensuse.org/Sponsors" %>
    </p>
    <!--<p class="centered" style="color: #ccc; font-size: 0.8em"><%=_("Bronze Sponsor")%></p>-->
  </div>

  <div class="box box-shadow">
    <h2 class="box-header centered"><%= _("Language") %></h2>
    <form action="<%= url_for :controller => :main, :action => :index %>" method="get" class="centered">
      <select name="locale" onChange="this.form.submit();">
        <option value="<%= @lang %>" selected="true"><%= link_to(LANGUAGE_NAMES[@lang] || @lang, :controller => :main, :action => :index, :locale => "#{@lang}") %></option>
        <% LANGUAGES.each do |lang| %>
          <option value="<%= lang %>"><%= link_to(LANGUAGE_NAMES[lang] || lang, :controller => :main, :action => :index, :locale => "#{lang}") %></option>
        <% end -%>
      </select>
    </form>
  </div>

</div>

<!--[if lte IE 7]>
    <script type="text/javascript">
     alert("Please note that the Internet Explorer (all versions) is not capable of handling\nfiles larger than 4 GB.\n\nThis means that you will not be able to download the DVD images using IE.\n\nPlease use a different browser or a downloadmanager.")
    </script>
  <![endif]-->
<% end %>
