<% 
@right_box = :search 
@page_title = _("Download %s") % @releasename
-%>

<div class="grid_9 alpha">

  <div class="box box-shadow">
    <h2 class="box-header">
      <span class="alignleft"><%= @box_title || @page_title -%></span>
      <% if @right_box == :search -%>
        <span class="alignright" style="padding-right: 10px">
          <% if !@release.blank? and @release != "developer" -%>
            <%= _('switch to') -%> <%= link_to _('Development Version'), {:controller => "main", :action => "developer", :lang => @lang } -%>
          <% elsif !@release.blank? -%>
            <%= _('switch to') -%> <%= link_to _('Released Version'), {:controller => "main", :action => "index", :lang => @lang } -%>
          <% end -%>
        </span>
      <% end -%>
    </h2>
    <div>

      <script language="javascript" type="text/javascript" src="<%= url_for(:controller => :main, :action => "download_js", :release => @release) %>">
        //<![CDATA[
        // overwrite in case of changed installation medium
        var mymedium = "<%= @medium %>";
        //]]>
      </script>

      <div style="margin-top: 1em; padding: 0">

        <div id="popup" style="display: none;">
          <a href="#" id="popup_close" style="display: block; float: right; padding: 10px">Close</a>
          <div id="popup_content"></div>
        </div>
        <div style="float: right; width: 14em;">
        </div>

        <h4 style="margin-bottom: 15px"><%= _("Installation Medium") %></h4>
        <div id="iso-wrapper">

          <div id="downloaderAccordion">

            <% if @isos["dvd-32"] %>
            <%= render(:partial => "change_install", :locals => { :medium => "dvd", :shorttext => _("4.7GB DVD (also suitable for USB stick)"), :longtext => _("Contains a large collection of software for desktop or server use.<br/>Suitable for installation or upgrade.") }) %>
            <% end %>
            <% if @isos["gnome-32"] %>
            <% livecd = ( @isos["gnome-32"].match(/.*-LiveCD-.*/) ? "CD" : "DVD" ) %>
            <%= render(:partial => "change_install", :locals => { :medium => "gnome", :shorttext => _("Live GNOME"), :longtext => (_("A GNOME desktop you can run from %s or from USB stick.<br/>Can be installed as is (no upgrade).") % [livecd]).html_safe }) %>
            <% end %>
            <% if @isos["kde-32"] %>
            <% livecd = ( @isos["kde-32"].match(/.*-LiveCD-.*/) ? "CD" : "DVD" ) %>
            <%= render(:partial => "change_install", :locals => { :medium => "kde", :shorttext => _("Live KDE"), :longtext => (_("A KDE desktop you can run from %s or from USB stick.<br/>Can be installed as is (no upgrade).") % [livecd]).html_safe  }) %>
            <% end %>
            <% if @isos["rescue-32"] %>
            <%= render(:partial => "change_install", :locals => { :medium => "rescue", :shorttext => _("Rescue"), :longtext => _("Rescue system that you can run from CD or from USB stick.<br/>Can not be used for neither installation nor upgrade.") }) %>
            <% end %>
            <% if @isos["net-32"] %>
            <%= render(:partial => "change_install", :locals => { :medium => "net", :shorttext => _("Network"), :longtext => _("Downloads the installation system and all packages from online repositories.<br/>Suitable for installation or upgrade.") }) %>
            <% end %>
            <%= render(:partial => "change_install", :locals => { :medium => "derivatives", :shorttext => _("openSUSE Derivatives"), :longtext => _("Get one of the specialized distribution built on openSUSE.") }) %>
          </div>
        </div>
      </div>

      <hr style="clear: both"/>

      <div id="download_links">
        <p class="info_text">
          <%=_("Choose an installation medium by clicking it and hit the Download button to start the download. Optionally choose your computer type or an alternative download method.") %>
        </p>
        <h3><%=_("Need help?")%></h3>
        <p>
          <%= _("More information on downloading openSUSE is available from the <a href=\"http://en.opensuse.org/SDB:Download_help\">Download Help</a> and <a href=\"http://en.opensuse.org/SDB:Network_installation\">Network Installation</a> pages in our <a href=\"http://en.opensuse.org/Portal:Documentation\">Documentation Wiki</a>.") %>
          <%= _("User manuals are available from <a href=\"http://activedoc.opensuse.org\">activedoc.opensuse.org</a>, for example the <a href=\"http://activedoc.opensuse.org/book/opensuse-start-up/\">Official Start-Up Guide</a>.") %>
        </p>

        <h3><%=_("Verify your download before use")%></h3>
        <p class="justify">
          <%=_("Many applications can verify the checksum of a download. To verify your download can be important as it verifies you really have got the ISO file you wanted to download and not some broken version.") %>
          <%=_("You could verify the file in the process of downloading. For example a checksum (SHA256) will be used automatically if you choose <a href='http://en.opensuse.org/SDB:Metalink'>Metalink</a> in the field above and use the add-on DownThemAll! in <a href='http://en.opensuse.org/Firefox'>Firefox</a>.") %>
          <%=_("We offer three different checksums:")%>
        </p>
        <noscript>
          <dl style="margin: 15px;">
            <dt><%=_("gpg signature")%></dt>
            <dd><%=_("offers the most security as you can verify who signed it. It should be <tt>%s</tt>.") % @gpg %>
              (<a href="<%= @directory %>/iso/openSUSE-<%= @isos[@medium + "-32"] %>.iso.asc">32 Bit</a> or <a href="<%= @directory %>/iso/openSUSE-<%= @isos[@medium + "-64"] %>.iso.asc">64 Bit</a>)
            </dd>
            <dt><%=_("md5 checksum")%></dt>
            <dd><%=_("is still the most commonly used checksum. Many ISO burners display it right before burning.")%> (<a href="<%= @directory %>/iso/openSUSE-<%= @isos[@medium + "-32"] %>.iso.md5">32 Bit</a> or <a href="<%= @directory %>/iso/openSUSE-<%= @isos[@medium + "-64"] %>.iso.md5">64 Bit</a>)</dd>
            <dt><%=_("sha1 checksum")%></dt>
            <dd><%=_("is the less known but more secure checksum than md5.")%> (<a href="<%= @directory %>/iso/openSUSE-<%= @isos[@medium + "-32"] %>.iso.sha1">32 Bit</a> or <a href="<%= @directory %>/iso/openSUSE-<%= @isos[@medium + "-64"] %>.iso.sha1">64 Bit</a>)</dd>
          </dl>
        </noscript>
        <ul class="hidden script_only">
          <li><a id="sig_gpg" href="#"><%=_("gpg signature")%></a> <%=raw(_("offers the most security as you can verify who signed it. It should be <tt>%s</tt>.") % @gpg) %></li>
          <li><a id="sig_md5" href="#"><%=_("md5 checksum")%></a> <%=_("is still the most commonly used checksum. Many ISO burners display it right before burning.")%></li>
          <li><a id="sig_sha1" href="#"><%=_("sha1 checksum")%></a> <%=_("is the less known but more secure checksum than md5.")%></li>
        </ul>
      </div>

      <div id="download_help" class="info_text">
        <h3><%=_("How to Proceed")%></h3>
        <ol id="howtoproceed" style="list-style-type:lower-latin">
          <li><%=_("After having successfully downloaded the ISO image(s), create a bootable USB stick or burn the image(s) to a DVD (or a CD if the chosen image fits).")%>
            <ul>
              <li><%= _("More information on creating a <a href='http://en.opensuse.org/Live_USB_stick'>bootable USB stick</a>") %></li>
              <li><a href="<%= _("http://en.opensuse.org/SDB:Download_help\#Burn_the_ISO_image.28s.29")%>"><%=_("More information on burning the ISO file to CD/DVD")%></a></li>
            </ul>
          </li>
          <li><%=_("Boot from the DVD, CD or USB stick. In case your computer does not automatically boot from the chosen device, open the BIOS setup to allow booting from it.")%></li>
        </ol>
      </div>

      <div id="additional_downloads">
        <h3><%=_("Add-On Downloads (optional)")%></h3>
        <ul id="addon_downloads">
          <li class="noscript"><%= render(:partial => "download_link", :locals => { :id => "lang32", :iso => "lang-32", :text => _("Extra Languages (32 Bit)") } ) %></li>
          <li class="noscript"><%= render(:partial => "download_link", :locals => { :id => "lang64", :iso => "lang-64", :text => _("Extra Languages (64 Bit)") } ) %></li>
          <li class="hidden script_only"><%= render(:partial => "download_link", :locals => { :id => "lang", :iso => "lang-32", :text => _("Extra Languages") } ) %></li>
          <li><p class="justify"><%=_('The installation process is available in many languages but, for most of them, the translation of the applications is not included in the image. If you want your openSUSE system to support some additional language, you need to download it from the Internet during the installation or any time after it. If you have easy access to the Internet you do not need this CD, but if you are planning to install openSUSE in some machine with no Internet connection, it will provide you access to all the available translations.')%></p></li>
          <li><%= render(:partial => "download_link", :locals => { :id => "nonoss", :iso => "nonoss", :text => _("NonOSS CD") } )%></li>
          <li><p class="justify"><%=_('This CD contains free software distributed under proprietary licence not allowing its inclusion to main installation media together with free open-source software. All software from this CD could be downloaded from NON-OSS repository.')%></p></li>
        </ul>
      </div>

    </div>
  </div>

</div>

<div class="grid_3 omega">

  <div class="box box-shadow">
    <h2 class="box-header centered"><%=_("Getting Help")%></h2>
    <ul class="navigation">
      <li><a href="<%= _("http://en.opensuse.org/SDB:Download_help") %>"><%=_("Download Help")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/SDB:Download_help\#Burn_the_ISO_image.28s.29") %>"><%=_("Burn CD/DVD Image(s)")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/Portal:Installation") %>"><%=_("Installation Guides")%></a></li>
      <li><a href="<%= _("http://doc.opensuse.org/") %>"><%=_("Official Manuals")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/Package_repositories") %>"><%=_("Package Repositories")%></a></li>
      <li><a href="<%= _("http://en.opensuse.org/openSUSE:Submitting_bug_reports") %>"><%=_("Reporting Bugs")%></a></li>
    </ul>
  </div>

  <!--
  <div class="box box-shadow">
    <h2 class="box-header centered"><%=_("Countdown")%></h2>
    <div class="centered">
      <%= link_to image_tag( "http://counter.opensuse.org/small", :title => _("openSUSE Countdown") ), "http://countdown.opensuse.org/link/" %>
    </div>
  </div>
  -->

  <div class="box box-shadow">
    <h2 class="box-header centered"><%=_("Sponsored by")%></h2>
    <p class="centered" style="color: #ccc; font-size: 0.8em"><%=_("Platinum Sponsor")%></p>
    <p class="centered">
    <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_amd.png', :width => 90, :height => 50, :alt => _("Sponsored by: AMD") ), "http://en.opensuse.org/Sponsors" %>
    </p>
    <p class="centered" style="color: #ccc; font-size: 0.8em;"><%=_("Gold Sponsor")%></p>
    <p class="centered">
      <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_ip-exchange.png', :width => 180, :height => 85, :alt => _("Sponsored by: IP Exchange") ), "http://en.opensuse.org/Sponsors" %>
    </p>
    <p class="centered" style="color: #ccc; font-size: 0.8em;"><%=_("Silver Sponsor")%></p>
    <p class="centered">
      <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_b1-systems.png', :width => 86, :height => 86, :alt => _("Sponsored by: B1 Systems") ), "http://en.opensuse.org/Sponsors" %>
      <%= link_to image_tag( '/themes/bento/images/sponsors/sponsor_heinlein.png', :width => 180, :alt => _("Sponsored by: Heinlein") ), "http://en.opensuse.org/Sponsors" %>
    </p>
    <!--<p class="centered" style="color: #ccc; font-size: 0.8em"><%=_("Bronze Sponsor")%></p>-->
  </div>

  <div class="box box-shadow">
    <h2 class="box-header centered"><%= _("Language") %></h2>
    <form action="<%= url_for :controller => :main, :action => :index %>" method="get" class="centered">
      <select name="locale" onChange="this.form.submit();">
        <option value="<%= @lang %>" selected="true"><%= link_to(LANGUAGE_NAMES[@lang] || @lang, :controller => :main, :action => :index, :locale => "#{@lang}") %></option>
        <% LANGUAGES.each do |lang| %>
          <option value="<%= lang %>"><%= link_to(LANGUAGE_NAMES[lang] || lang, :controller => :main, :action => :index, :locale => "#{lang}") %></option>
        <% end -%>
      </select>
    </form>
  </div>

</div>

<!--[if lte IE 7]>
    <script type="text/javascript">
     alert("Please note that the Internet Explorer (all versions) is not capable of handling\nfiles larger than 4 GB.\n\nThis means that you will not be able to download the DVD images using IE.\n\nPlease use a different browser or a downloadmanager.")
    </script>
  <![endif]-->
