<div id="search-result" class="py-3">
  <div class="container">

    <%= render :partial => 'search/default_searches'  if @search_term %>

    <%= render :partial => 'search/category_header'  if @category %>

    <% if @packagenames.blank? %>

      <div id="search-result-error" >
        <div id="msg" class="alert alert-warning"/>
            <%= _("No packages found matching your search. ") %>
            <% unless @search_devel %>
              <br/>
              <%= _("You could try to extend your search to development packages or search for another base distribution (currently #{@baseproject}).") %>
            <% end %>
        </div>
      </div>

    <% else %>

      <div id="search-result-list" class="row">

        <%
        @packagenames.each_with_index do |package, idx|
          appdata_pkg = @appdata[:apps].select{|a| a[:pkgname] == package}
          package_name = package
          package_name = appdata_pkg.first[:name] unless ( appdata_pkg.blank? || appdata_pkg.first[:name].blank? )
          package_img = nil
          package_img = appdata_pkg.first[:screenshots].first unless ( appdata_pkg.blank? || appdata_pkg.first[:screenshots].blank? )
          thumb_url = screenshot_thumb_url(package)
        %>

          <div class="col-sm-6 col-md-4">
            <div class="package-card card mb-4">

              <a class="card-img-top" style="background-image: url(<%= thumb_url %>)" href="<%= url_for :controller => :package, :action => :show, :package => package, :protocol => 'https' %>">
              </a>
              <div class="card-body">
                <h4 class="card-title"><%= link_to highlight(package_name, @search_term), :controller => :package, :action => :show, :package => package  %></h4>
                <p class="card-text">
                  <%
                  if( appdata_pkg.blank? || appdata_pkg.first[:summary].blank? )
                    desc_package = search_for_description(package, @packages)
                    unless desc_package.blank?
                      summary = desc_package.summary
                    end
                  else
                    summary = appdata_pkg.first[:summary]
                  end

                  unless  summary.blank? %>
                    <%= highlight( summary, @search_term) %>
                  <% end -%>
                </p>

                <a href="<%= url_for :controller => :package, :action => :show, :package => package %>" class="btn btn-primary"><%= _("View") %></a>


                <%
                devel_pack_match = [package + "-devel", package + "-lang", package + "-debuginfo", package + "-debugsource", package + "-debuginfo-32bit",
                  package + "-debuginfo-x86", ]
                devel_packages = @packagenames.select{|r| devel_pack_match.include? r }
                sub_packages = @packagenames.sort.select{|name| ( !(devel_pack_match.include? name) &&
                        name.start_with?("#{package}-") && @appdata[:apps].select{|a| a[:pkgname] == name}.blank? ) } -%>

                <% unless devel_packages.blank? && sub_packages.blank? %>
                  <div class="dropdown d-inline-block">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= _("Sub-Packages") %>
                    </button>
                    <div class="dropdown-menu">
                      <% sub_packages.each do |subpackage| %>
                        <%= link_to subpackage, { :controller => :package, :action => :show, :package => subpackage }, :class => 'dropdown-item' %>
                      <% end %>
                      <h6 class="dropdown-header"><%= _("Development packages") %></h6>
                      <% devel_packages.each do |subpackage| %>
                        <%= link_to subpackage, { :controller => :package, :action => :show, :package => subpackage }, :class => 'dropdown-item' %>
                      <% end %>
                    </div>
                  </div>
                <% end -%>
              </div>
            </div>
          </div>
        <% end -%>
      </div>
    <% end %>
  </div>
</div>
