<script type="text/javascript">

  $(function() {

    $('#search-options').addClass('hidden');

    $("#search-options-link").click(function() {
      $("#search-options").slideToggle();
    });

  });


</script>

<!--
<div class="box box-shadow pkg-header-box pkg-appstore-box">
  <h1><%= link_to "openSUSE Factory<br/>" + _("App Browser"), {:controller => :package, :action => :categories}, :id => "apps-headline"  %></h1>
</div>
-->

<div class="box box-shadow pkg-search-box pkg-header-box grid_12 alpha">
  <h1><%= link_to _("Package Search"), {:controller => :search, :action => :find}, :id => "apps-headline"  %></h1>
  <%= form_tag( {:controller => 'search', :action => :index}, :method => :get ) do %>
    <%= text_field_tag 'q', @search_term, :size => 30, :id => "search-form",  :autocomplete => "off", :autofocus => true %>
    <div id='search-loader' class="hidden"><span id="search-loader-txt"></span> <%= image_tag "ajax-loader.gif" %></div>
    <%= submit_tag _('Search'), :name => nil, :class => "search-go-button" %>
    <span id="search-options-link"><%= image_tag "configure_search.png", :width => 24, :class =>"search-options-link" %></span>

    <div id="search-options" class="">
      <p>
        <%= hidden_field_tag("search_devel", "false") %>
        <%= check_box_tag("search_devel", "true", @search_devel, {:id => "search_devel_checkbox" })  %>
        <label for="search_devel_checkbox"><%= _("Show development, language and debug packages") %></label><br/>
        <%= hidden_field_tag("search_unsupported", "false") %>
        <!-- <%= check_box_tag("search_unsupported", "true", @search_unsupported, {:id => "search_unsupported_checkbox" })  %>
        <label for="search_unsupported_checkbox"><%= _("Show unsupported packages") %></label><br/> -->
        <% @distributions ||= Array.new %>
        &nbsp;<%= _("Show distribution:") %>&nbsp;
        <%= select_tag 'baseproject', options_for_select((@distributions.map{|d| [d[:name], d[:project]]} || ["ALL"]), (@baseproject or default_baseproject)) %>
      </p>
    </div>
  <% end -%>
</div>

<div style="clear:both"/>

<div class="hidden" id="search-messages" >
  <div class="ui-state-highlight ui-corner-all" style="margin-bottom: 5px;">
    <p id="msg">
      <span class="ui-icon ui-icon-info"/>
    </p>
  </div>
</div>
