<div class="search-box py-5">
  <div class="container">
    <%= form_tag( {:controller => 'search', :action => :index}, :method => :get ) do %>
      <div class="row">
        <div class="col-md">
          <div class="row m-0 input-group">
            <% @distributions ||= Array.new %>
            <div class="col-md-auto p-0 input-group-prepend">
            <%= select_tag 'baseproject', options_for_select((@distributions.map{|d| [d[:name], d[:project]]} || ["ALL"]), cookies['baseproject']), :class => 'btn custom-select' %>
            </div>
            <div class="col py-3 p-0 p-md-0 input-group-append">
            <%= text_field_tag 'q', @search_term, :id => "search-form", :class => 'form-control', :placeholder => _('Search packages...'), :autocomplete => "off", :autofocus => true, :size => "60" %>
            </div>
          </div>
        </div>
        <div class="col-md-auto btn-group d-flex">
          <button id="search-button" type="submit" class="btn btn-primary ml-auto d-flex align-items-center">
            <%= icon "search" %>
            <span class="ml-1"><%= _("Search") %></span>
          </button>
          <button id="settings-button" type="button" class="btn btn-secondary mr-auto d-flex align-items-center" data-toggle="modal" data-target="#search-settings">
            <%= icon "settings" %>
          </button>
        </div>
      </div>
    <% end -%>
  </div>
</div>
<%= render :partial => 'search/settings' %>
