
<div class="box box-shadow">
  <h2 class="box-header"><%=_("Package Search")%></h2>
  <div id="get_software">
    <p><%= _("Search and install software packages from the <a href=\"http://build.opensuse.org\">openSUSE Build Service</a>:") %></p>
    <div id="search_form">
      <% form_tag( {:controller => 'search'}, :method => :get ) do %>
        <%= text_field_tag 'q', @query, :size => 40 %> (<a href="#" class="options_link" id="search_option_toggle"><%= _('Search options') %></a>)
        <div class="form_control">
          <% @distributions ||= Array.new %>
          <%= select_tag 'baseproject', options_for_select((@distributions.map{|d| [d[:name], d[:project]]} || ["ALL"]), (@baseproject or default_baseproject)) %>
          <%= hidden_field_tag 'lang', @lang %>
          <%= submit_tag _('Search'), :name => nil %>
        </div>
        <div id="search_options" style="display: none">
          <%= check_box_tag('include_home', "true", (@include_home == 'true'), {})  %> <label for="include_home"><%= _("Include users' home projects") %></label>
          <%= check_box_tag('exclude_debug', "true", @exclude_debug, {})  %> <label for="exclude_debug"><%= _('Exclude debug packages') %></label>
        </div>

      <% end -%>
    </div>
  </div>
</div>

<%= setup_baseproject %>
