
<div class="box box-shadow">
  <h2 class="box-header"><%=_("Package Search")%></h2>
  <div id="get_software">
    <p><%= _("Search and install software packages from the openSUSE Build Service:") %></p>
    <div id="search_form">
      <% form_tag( {:controller => 'search'}, :method => :get ) do %>
        <%= text_field_tag 'q', @query, :size => 40 %> (<a href="#" class="options_link" id="search_option_toggle"><%= _('Search options') %></a>)
        <div class="form_control">
          <%= select_tag 'baseproject', options_for_select((@distributions || ["ALL"]), (@baseproject or default_baseproject)) %>
          <%= hidden_field_tag 'lang', @lang %>
          <%= submit_tag _('Search'), :name => nil %>
          
        </div>

        <div id="search_options" style="display: none">
          <%= check_box_tag('exclude_filter', "home:", (@exclude_filter == 'home:'), {})  %> <%= _("Exclude user's home projects") %>
          <%= check_box_tag('exclude_debug', "true", @exclude_debug, {})  %> <%= _('Exclude debug packages') %>
        </div>

      <% end -%>
    </div>
  </div>
</div>

<%= setup_baseproject %>
