<div class="modal fade" id="search-settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= _("Search settings") %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag("search_devel", "true", cookies['search_devel'] == "true")  %>
              <%= _("Show development packages") %>
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag("search_lang", "true", cookies['search_lang'] == "true")  %>
              <%= _("Show language packages") %>
            </label>
          </div>

          <div class="form-check">
            <label class="form-check-label">
              <%= check_box_tag("search_debug", "true", cookies['search_debug'] == "true")  %>
              <%= _("Show debug packages") %>
            </label>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="ok-button btn btn-primary"><%= _("OK") %></button>
        <button type="button" class="cancel-button btn btn-secondary"><%= _("Cancel") %></button>
      </div>
    </div>
  </div>
</div>
