<% packages.flatten.sort_by(&:project).group_by(&:project).each do |result| %>
  <% if  result.first == distro[:project] || result.first == "#{distro[:project]}:NonFree"
    name = _("<b>official release</b>")
  elsif result.first == "#{distro[:project]}:Update" || result.first == "#{distro[:project]}:NonFree:Update"
    name = _("<b>official update</b>")
  else
    name = shorten result.first, 40
  end

  if result.last.first.package.nil?
    pkg_link = "https://build.opensuse.org/project/show/#{CGI.escape result.first}"
  else
    pkg_link =  "https://build.opensuse.org/package/show/#{CGI.escape result.first}/#{CGI.escape result.last.first.package}"
  end -%>
  
  <div class="card mb-2">
    <div class="card-body row">
      
      <div class="col-md-6">
        <%= link_to name, pkg_link %>
        <% if type.eql? 'official' %>
          <span class="badge badge-success"><%= _('Official') %></span>
        <% end %>
        <% if type.eql? 'experimental' %>
          <span class="badge badge-warning"><%= _('Experimental') %></span>
        <% end %>
        <% if type.eql? 'community' %>
          <span class="badge badge-danger"><%= _('Community') %></span>
        <% end %>
      </div><!-- /.col- -->
      
      <div class="col-md-2">
        <%# only use the latest version, obs bug: some outdated versions still listed. %>
        <% version = result.last.map{|r| r.version }.max %>
        <%= shorten version, 23 %>
      </div><!-- /.col- -->
      
      <div class="col-md-4 text-right">
        <% release = result.last.select{|r| r.version == version }.map{|v| "#{v.release}".sub(".", "").to_i}.max %>
        <% items = result.last.select{|r| r.version == version && "#{r.release}".sub(".", "").to_i == release } %>
        <% archs = items.map{|item| human_arch( item.arch ) }.uniq.sort %>
        <%  archs << _("Source") if archs.delete(_("Source")) %>

        <!-- 1-click install button -->
        <% if oneclick && distro[:project].match(/SUSE/) && !(archs.uniq == [_("Source")]) %>
          <% url = url_for :controller => 'download', :action => 'ymp_without_arch_and_version',
            :project => result.first, :repository => result.last.first.repository, :package => @pkgname,
            :base => result.last.first.baseproject, :query => @pkgname%>
          <a class="btn btn-sm btn-primary" href="<%= url %>"><span class="typcn typcn-flash-outline"></span> <%= _("1 Click Install") %></a>
        <% end %>

        <%= link_to download_package_path(project: result.first, package: @pkgname), class: 'btn btn-sm btn-secondary' do %>
          <span class="typcn typcn-download-outline"></span>
          <%= _('Expert Download') %>
        <% end %>

      </div><!-- /.col- -->
    </div><!-- /.card-body -->
  </div><!-- /.card -->
<% end -%>
