<div class="container">
<div class="row justify-content-center">
   <% @main_sections.each do |section| %>
   <% apps = @appdata[:apps].select{|a| !(a[:categories] & section[:categories]).blank? } %>
   <%= link_to "", {:controller => :package, :action => :category, :category => section[:id]}, :class => "card-body" %>
   <% if section[:name] == "Games" || section[:name] == "Multimedia"%>
   <div class="col-md-5 card px-0 mr-2 mb-2"
      >
      <h4 class="card-header bg-primary text-white"><span class="mr-1 typcn typcn-md typcn-<% if section[:name] == "Games"%>puzzle<%else%>film<%end%>"></span><span><%= link_to section[:name] ,{:controller => :package, :action => :category, :category => section[:id]}, :class => "text-white" %></span></h4>
      <div class="row">
         <div class="col">
            <ul class=" card-body nav flex-column">
               <% apps[0..7].each do |package|
                  appdata_pkg = @appdata[:apps].select{|a| a[:pkgname] == package}
                  package_name = package
                  package_name = appdata_pkg.first[:name] unless ( appdata_pkg.blank? || appdata_pkg.first[:name].blank? )
                  %>
               <li class="nav-item">
                  <%= link_to package[:name] ,{:controller => :package, :action => :show, :package => package[:pkgname]}, :class => "nav-link" %>
               </li>
               <% end -%>
            </ul>
         </div>
         <div class="col">
            <ul class="card-body nav flex-column">
               <% apps[8..15].each do |package|
                  appdata_pkg = @appdata[:apps].select{|a| a[:pkgname] == package}
                  package_name = package
                  package_name = appdata_pkg.first[:name] unless ( appdata_pkg.blank? || appdata_pkg.first[:name].blank? )
                  %>
               <li class="nav-item">
                  <%= link_to package[:name] ,{:controller => :package, :action => :show, :package => package[:pkgname]}, :class => "nav-link" %>
               </li>
               <% end -%>
            </ul>
         </div>
      </div>
      <% else %>
      <div class="col-md-3 card px-0 mr-2 mb-2"
         >
         <h4 class="card-header bg-primary text-white"><span class="mr-1 typcn typcn-md typcn-<% if section[:name] == "Development"%>keyboard<%else if section[:name] == "Tools"%>spanner<%else if section[:name] == "Education & Science"%>beaker<%else%>edit<%end%><%end%><%end%>"></span><span><%= link_to section[:name] ,{:controller => :package, :action => :category, :category => section[:id]}, :class => "text-white" %></span></h4>
         <ul class="card-body nav flex-column">
            <% apps[0..8].each do |package|
               appdata_pkg = @appdata[:apps].select{|a| a[:pkgname] == package}
               package_name = package
               package_name = appdata_pkg.first[:name] unless ( appdata_pkg.blank? || appdata_pkg.first[:name].blank? )
               %>
            <li class="nav-item">
               <%= link_to package[:name] ,{:controller => :package, :action => :show, :package => package[:pkgname]}, :class => "nav-link" %>
            </li>
            <% end -%>
         </ul>
         <% end %>
      </div>
      <% end -%>
   </div>
</div>
