<% @hide_side_box = true -%>
<% @hide_search_box = true -%>

<script type="text/javascript">
  $(function() {

    $('.appstore-category-box').each( function(index) {
      $(this).delay(100 * index).fadeIn('slow');
    });
    
  });

</script>

<%= render :partial => 'search/find_form' %>


<%

main_categories = ["AudioVideo", "Audio", "Video", "Development", "Education", "Game", "Graphics", "Network", "Office", "Settings", "System", "Utility"]

%>



<div id="search_result_container" class="appstore-container">
  <p><%= @appdata[:categories].size %> categories, <%= @appdata[:apps].size %> apps</p>

  <% main_categories.each do |cat| %>
    <% apps = @appdata[:apps].select{|app| app[:categories].include? cat} %>
    <div class="box box-shadow grid_4 appstore-category-box alpha hidden">
      <h2 class="box-header"><%=  cat  %> (<%= apps.size %> apps)</h2>
      <p>
        <% apps[0..16].each do |app| %>
          <%= link_to app[:name], :controller => :package, :action => :show, :package => app[:pkgname] %>
        <% end -%>
      </p>
    </div>

  <% end %>



</div>