<div class="container">

  <% apps = @appdata[:apps].select{|a| !a[:screenshots].blank? } %>

  <% if not apps.blank? %>
    <div id="featuredApps" class="carousel slide mb-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#featuredApps" data-slide-to="0" class="active"></li>
        <li data-target="#featuredApps" data-slide-to="1"></li>
        <li data-target="#featuredApps" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <% apps.sample(1).each do |package| %>
        <div style="height: 400px;background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= screenshot_thumb_url( package[:pkgname], package[:screenshots][0]) %>); background-size: 100%;" class="carousel-item active">
          <div class="carousel-caption text-left">
              <h1><%= package[:pkgname] %></h1>
              <p><%= package[:summary] %></p>
              <p><a class="btn btn-lg btn-primary" href="<%= url_for :controller => :package, :action => :show, :package => package[:pkgname] %>" role="button">Learn more</a></p>
          </div>
        </div>
        <%end%>
        <% apps.sample(2).each do |package| %>
        <div style="height: 400px;background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(<%= screenshot_thumb_url( package[:pkgname], package[:screenshots][0]) %>); background-size: 100%;" class="carousel-item">
          <div class="carousel-caption text-left">
              <h1><%= package[:pkgname] %></h1>
              <p><%= package[:summary] %></p>
              <p><a class="btn btn-lg btn-primary" href="<%= url_for :controller => :package, :action => :show, :package => package[:pkgname] %>" role="button">Learn more</a></p>
          </div>
        </div>
        <%end%>
      </div><!-- /.carousel-inner -->
      <a class="carousel-control-prev" href="#featuredApps" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#featuredApps" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <%end%>

  <div id="categories" class="">
    <% @main_sections.each do |section| %>

      <% apps = @appdata[:apps].select{|a| !(a[:categories] & section[:categories]).blank? } %>

      <%
        case section[:name]
        when /Development/
          icon = 'code-outline'
        when /Education/
          icon = 'globe-outline'
        when /Games/
          icon = 'puzzle-outline'
        when /Multimedia/
          icon = 'notes-outline'
        when /Office/
          icon = 'document'
        when /Tools/
          icon = 'spanner-outline'
        else
          icon = 'folder'
        end
      %>

      <h2 class="my-3">
        <span class="mr-1 typcn typcn-<%= icon %>"></span>
        <%= link_to section[:name] ,{:controller => :package, :action => :category, :category => section[:id]}, :class => 'text-body' %>
      </h2>

      <div class="apps row mb-5">
        <% apps[0..11].each do |package| %>
          <% appdata_pkg = @appdata[:apps].select{|a| a[:pkgname] == package} %>
          <div class="col-6 col-md-4 col-lg-3">
            <div class="card mb-3">
              <img
                class="card-img-top"
                src="<%= screenshot_thumb_url( package[:pkgname], package[:screenshots][0]) %>"
                style="height: 150px; object-fit: cover;"
              />
              <div class="card-body">
                <h5 class="card-title" style="white-space: nowrap; overflow: hidden;">
                  <%= link_to package[:name] ,{:controller => :package, :action => :show, :package => package[:pkgname]} %>
                </h5>
                <p class="card-text small" style="height: 3em; overflow: hidden;"><%= package[:summary] %></p>
                <a href="#" class="btn btn-sm btn-primary"><%= _("Get") %></a>
              </div>
            </div>
          </div>
        <% end -%>
      </div><!-- /.apps.row -->

    <% end %>

  </div><!-- /#categories -->

</div><!-- /.container -->
