<%= render :partial => 'search/default_searches'  if @search_term %>

<% if @packages.blank? %>
  <div class="py-5">
    <div class="container">
      <h1><%= _("Package %s not found...") % [@pkgname] %></h1>
      <p><a href="/explore"><%= _("Back to home page") %></a></p>
    </div>
  </div>

<% else %>

  <header class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <a title="Screenshot of <%= @pkgname %>" rel="lightbox" href="<%= @screenshot %>">
            <img class="img-fluid" src="<%= @thumbnail %>" alt="<%= @pkgname %>" />
          </a>
        </div>
        <div class="col-md-6">
          <h1><%= @name || @pkgname %></h1>
          <% desc_package = search_for_description( @pkgname, @packages ) %>
          <% unless desc_package.blank? %>
            <% unless @appcategories.blank? %>
              <p class="pkg-categorie-note">
                <strong><%=  @appcategories.size > 1 ? _("Categories") : _("Category") %>:</strong>
                <% @appcategories.each do |cat| -%>
                  <%= link_to cat, {:controller => :package, :action => :category, :category => cat}, :class => 'badge badge-info' %>
                <% end -%>
              </p>
            <% end -%>
            <p><strong><%=  desc_package.summary %></strong></p>
            <p id="pkg-desc"><%= prepare_desc desc_package.description -%></p>
            <!-- <i>(from <%= desc_package.project %>)</i> -->
          <%else %>
            <p class="text-muted"><%= _("No description.") %></p>
          <% end -%>

          <% if @default_package.blank? %>
            <%= _("There is no official package available for %s") % @default_project_name %>
          <% else %>
            <%
              url = url_for :controller => 'download', :action => 'ymp_without_arch_and_version', :query => @pkgname,
              :project => @default_package.project, :repository => @default_package.repository, :package => @pkgname, :base => @default_package.baseproject, :protocol => 'https'
            %>
            <ul class="list-inline">
              <li class="list-inline-item"><%= _("Version") %> <%= shorten @default_package.version, 13 %></li>
              <li class="list-inline-item"><%= _("Size") %> <%= number_to_human_size desc_package[:size] if desc_package %></li>
              <li class="list-inline-item"><%= @default_project_name %></li>
            </ul>
            <a id="one-click-button" class="btn btn-lg btn-primary" href="<%= url %>">
              <span class="typcn typcn-flash-outline"></span>
              <%= _("Direct Install") %>
            </a>

            <%= link_to download_package_path(project: @default_package.project, package: @pkgname), class: 'btn btn-lg btn-secondary' do %>
              <span class="typcn typcn-download-outline"></span>
              <%= _('Expert Download') %>
            <% end %>
          <% end -%>
        </div><!-- /#package-description -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </header>

  <% unless @default_package.blank? %>
    <div class="container">
    <button class="btn" type="button" data-toggle="collapse" data-target="#other-distributions-listing"><%= _("Show %s for other distributions") % @pkgname %></button>
    </div>
  <% end %>
  <div class="container <% unless @default_package.blank? %>collapse<% end %>" id="other-distributions-listing">
    <h3 class="mt-5 mb-4"><%= _("Distributions") %></h3>

    <% @distributions.each do |distro| -%>
      <% if (pkgs = @packages.select{|s| s.baseproject == distro[:project]}).size > 0 %>

        <h4 class="mt-4 mb-3"><%= distro[:name] %></h4>

        <!-- official packages -->
        <%
        official, pkgs = pkgs.partition{|s| s.project == distro[:project] || s.project == "#{distro[:project]}:NonFree" }
        update, pkgs = pkgs.partition{|s| s.project == "#{distro[:project]}:Update" || s.project == "#{distro[:project]}:NonFree:Update"}
        stable, pkgs = pkgs.partition{|s| s.quality == "Stable"} %>

        <%= render( :partial => 'package/download_rows', :locals => {:packages => official, :distro => distro, :oneclick => true, :type => 'official'} ) if update.blank? %>
        <%= render :partial => 'package/download_rows', :locals => {:packages => update, :distro => distro, :oneclick => true, :type => 'official'} %>
        <%= render :partial => 'package/download_rows', :locals => {:packages => stable, :distro => distro, :oneclick => true, :type => 'official'} %>

        <%
        slug = distro[:project].downcase.strip.gsub('_', '-').gsub('/', '-').gsub(':', '-').gsub(/[^\w-]/, '')
        home, pkgs = pkgs.partition{|s| s.project.match( /^home\:/ )}
        devel = pkgs.reject{|s| @official_projects.include?( s.project ) || s.project.match( /^home\:/ ) || s.project.match( /#{distro[:project]}\:Update/ ) ||
            s.project.match( /#{distro[:project]}\:NonFree/ ) || s.project.match( /openSUSE\:Maintenance\:/ ) } %>

        <p>
        <% devel_disabled = 'disabled' if devel.empty? %>
        <button class="btn btn-sm btn-warning" <%= devel_disabled %> type="button" data-toggle="collapse" data-target="#<%= slug %>-experimental-packages"><%= _("Show experimental packages") %></button>
        <% home_disabled = 'disabled' if home.empty? %>
        <button class="btn btn-sm btn-danger" <%= home_disabled %> type="button" data-toggle="collapse" data-target="#<%= slug %>-community-packages"><%= _("Show community packages") %></button>
        </p>
        <!-- experimental packages -->
        <div id="<%= slug %>-experimental-packages" class="collapse">
          <%= render :partial => 'package/download_rows', :locals => {:packages => devel, :distro => distro, :oneclick => true, :type => 'experimental' } %>
        </div>
        <!-- community packages -->
        <div id="<%= slug %>-community-packages" class="collapse">
          <%= render :partial => 'package/download_rows', :locals => {:packages => home, :distro => distro, :oneclick => true, :type => 'community'} %>
        </div>
      <% end -%>
    <% end -%>

    <% unless @extra_dists.blank?  %>

      <h3 class="mt-5 mb-4"><%= _("Unsupported distributions") %></h3>

      <div class="alert alert-danger">
        <%= _("The following distributions are not officially supported. Use these packages at your own risk.") %>
        <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#unsupported-distributions"><%= _("Show") %></button>
      </div>

      <div id="unsupported-distributions" class="collapse">
        <%  @extra_dists.each do |distro| -%>
          <h4 class="mt-4 mb-3"><%= distro[:project] %></h4>
          <% pks = @extra_packages.select{|p| p.baseproject == distro[:project] } %>
          <%= render :partial => 'download_rows', :locals => {:packages => pks, :distro => distro, :oneclick => false, :type => 'unsupported'} %>
        <% end %>
      </div>
    <% end %>

  </div><!-- /.container -->

<% end -%>
