<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<% @hide_side_box = true -%>
<% @hide_search_box = true -%>

<div class="box box-shadow">
  <h2 class="box-header">
    <span class="alignleft"><%= @page_title -%></span></h2>
  <div>

    <% if @packages.blank? %>
      <p>Package <%= @pkgname %> not found...</p>
    <% else %>

      <div style="float: right; margin: 15px;">
        <%= image_tag @screenshot_thumb %>
      </div>

      <h2><%= @name || @pkgname %></h2>

      <% if @description_package.blank? %>
        No description found...
      <% else %>
        <h3><%=  @description_package.summary %></h3>
        <p style="white-space: pre-line; ">
          <%= @description_package.description.strip -%>
          <i>(from <%= @description_package.project %>)</i>
        </p>
      <% end %>

      <div style="clear: both"/>

      <% if @default_package %>
        <p>
        <h3>Version <b><%= @default_package.version %></b> for <%= @distributions.select{|d| d[:project] == @default_package.project}.first[:name] %></h3>
        <div class="install_pkg_btn">
          <%= link_to _("1-Click Install"), :controller => 'main', :action => 'ymp_without_arch_and_version',
            :project => @default_package.project, :repository => @default_package.repository, :package => @pkgname, :base => @default_package.baseproject %>
        </div>
        (<a href="#" onclick="$('#pkg_versions').toggle();">show all available versions</a>)
        </p>

      <% end %>

      <% official_projects = @distributions.map{|d| d[:project]} %>

      <div id="pkg_versions">
        <h3>Available versions</h3>

        <% @distributions.each do |distro| -%>

          <% if @packages.select{|s| s.baseproject == distro[:project]}.size > 0 %>

            <h3><%= distro[:name] %></h3>
            <p>

              official packages: <br/>
              <% official = @packages.select{|s| s.project == distro[:project]} %>
              <% official.flatten.group_by(&:version).each do |version| -%>
                <% version.last.group_by(&:project).each do |result| %>
                  <i><%= link_to result.first, "https://build.opensuse.org/package/show?project=#{result.first}&package=#{@pkgname}" %>: </i>
                  <%= version.first %>
                  <% result.last.each do |bin| %>
                    <i><%= link_to bin.arch, "http://download.opensuse.org/repositories/" + bin.filepath  %> </i>
                  <% end %>
                  <br/>
                <% end -%>
              <% end -%>


              update packages: <br/>
              <% update = @packages.select{|s| s.project == "#{distro[:project]}:Update"} %>
              <% update.flatten.group_by(&:version).each do |version| -%>
                <% version.last.group_by(&:project).each do |result| %>
                  <i><%= link_to result.first, "https://build.opensuse.org/package/show?project=#{result.first}&package=#{@pkgname}" %>: </i>
                  <%= version.first %>
                  <% result.last.each do |bin| %>
                    <i><%= link_to bin.arch, "http://download.opensuse.org/repositories/" + bin.filepath  %> </i>
                  <% end %>
                  <br/>
                <% end -%>
              <% end -%>


              devel packages: <br/>
              <% devel = @packages.reject{|s| official_projects.include?( s.project ) || s.project.match( /^home\:/ ) } %>
              <% devel.flatten.group_by(&:version).each do |version| -%>
                <% version.last.group_by(&:project).each do |result| %>
                  <i><%= link_to result.first, "https://build.opensuse.org/package/show?project=#{result.first}&package=#{@pkgname}" %>: </i>
                  <%= version.first %>
                  <% result.last.each do |bin| %>
                    <i><%= link_to bin.arch, "http://download.opensuse.org/repositories/" + bin.filepath  %> </i>
                  <% end %>
                  <br/>
                <% end -%>
              <% end -%>


              home packages: <br/>
              <% home = @packages.select{|s| s.project.match( /^home\:/ )} %>
              <% home.flatten.group_by(&:version).each do |version| -%>
                <% version.last.group_by(&:project).each do |result| %>
                  <i><%= link_to result.first, "https://build.opensuse.org/package/show?project=#{result.first}&package=#{@pkgname}" %>: </i>
                  <%= version.first %>
                  <% result.last.each do |bin| %>
                    <i><%= link_to bin.arch, "http://download.opensuse.org/repositories/" + bin.filepath  %> </i>
                  <% end %>
                  <br/>
                <% end -%>
              <% end -%>

            </p>

          <% end -%>

        <% end -%>
      </div>

    <% end %>

  </div>
</div>
