<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>


<% @hide_side_box = true -%>
<% @hide_search_box = true -%>

<div class="box box-shadow">
  <h2 class="box-header">
    <span class="alignleft"><%= @page_title -%></span></h2>
  <div>


    <% if @packages.blank? %>

      <p>Package not found...</p>

    <% else %>

      <div style="float: right; margin: 15px;">
        <%= image_tag @screenshot_thumb %>
      </div>

      <h2><%= @name || @pkgname %></h2>


      <p style="white-space: pre-line; ">
        <% if @description_package.blank? %>
          No description found...
        <% else %>
          <%= @description_package.description.strip -%>
          <i>(from <%= @description_package.project %>)</i>
        <% end %>
      </p>
      <div style="clear: both"/>

      <% if @default_package %>
        <p>
        <h3>Version <b><%= @default_package.version %></b> for <%= @distributions.select{|d| d[:project] == @default_package.project}.first[:name] %></h3>
        <div class="install_pkg_btn">
          <%= link_to _("1-Click Install"), :controller => 'main', :action => 'ymp_without_arch_and_version',
            :project => @default_package.project, :repository => @default_package.repository, :package => @pkgname, :base => @default_package.baseproject %>
        </div>
        (<a href="#" onclick="$('#pkg_versions').toggle();">show all available versions</a>)
        </p>

      <% end %>

      <div id="pkg_versions">
        <h3>Available versions</h3>

        <% @distributions.each do |distro| -%>

          <% if @packages.select{|s| s.baseproject == distro[:project]}.size > 0 %>

            <p><%= image_tag distro[:icon] %> <b><%= distro[:name] %></b><br/>

              <% versions = @packages.select{|s| s.baseproject == distro[:project]}.flatten.group_by(&:version)

              versions.each do |version| -%>

                <b><%= version.first %></b><br/>

                <% unless version.last.select{|v| v.project == distro[:project]}.blank? %>

                  official download for:
                  <% version.last.select{|v| v.project == distro[:project]}.each do |bin| %>
                    <%= bin.arch %>
                  <% end %>
                <% end %>
                <br/>

                <% unless version.last.select{|v| v.project != distro[:project]}.blank? %>

                  <i>more versions are available from unsupported repositories: </i><br/>

                  <% version.last.select{|v| v.project != distro[:project]}.group_by(&:project).each do |result| %>

                    <i><%= link_to result.first, "https://build.opensuse.org/package/show?project=#{result.first}&package=#{@pkgname}" %>: </i>

                    <% result.last.each do |bin| %>

                      <i><%= link_to bin.arch, "http://download.opensuse.org/repositories/" + bin.filepath %> </i>

                    <% end -%>
                    <br/>

                  <% end -%>

                <% end -%>

              <% end -%>
            </p>

          <% end -%>

        <% end -%>

      <% end %>
    </div>

  </div>
</div>
  