<% @hide_side_box = true -%>
<% @hide_search_box = true -%>

<% content_for :content_for_head do %>
  <%= javascript_include_tag "slimbox2" %>
  <%= stylesheet_link_tag "slimbox2/slimbox2.css" %>
<% end %>

<script type="text/javascript">
  function toggle_dist(distname){
    if( $('#dist_' + distname).is(':visible') ) {
      $('#dist_' + distname).hide();
      $('#dist_home_' + distname).hide();
      $('#distro-toggle-' + distname).removeClass("active");
    } else {
      $('#dist_' + distname).show();
      $('#unsupported_link_' + distname).show();
      $('#distro-toggle-' + distname).addClass("active");
    }
  }

  var current_warning_dist = "";
  function toggle_unsupported(distname) {
    if( $('#dist_home_' + distname).is(':visible') ) {
      $('#dist_home_' + distname).hide();
    } else {
      if ( $.cookie("skip_unsupported_warning") == 'true' ) {
        $('#dist_home_' + distname).show();
        $('#unsupported_link_' + distname).hide();
      } else {
        current_warning_dist = distname;
        $("#unsupported-warning").dialog( "open" );
      }
    }
  }

  $(function() {
    $( "#unsupported-warning" ).dialog({
      autoOpen: false,
      minWidth: 500,
      modal: true,
      closeText: 'hide',
      closeOnEscape: true,
      draggable: false,
      resizable: false,
      title: 'Warning',
      buttons: { "Continue": function() {
          $(this).dialog("close");
          $('#dist_home_' + current_warning_dist).show();
          $('#unsupported_link_' + current_warning_dist).hide();
        }
      }
    });

    $(".ui-icon-closethick").hide();
    $(".ui-icon-closethick").click(function() {
      $('#dist_home_' + current_warning_dist).show();
    });

    $("#toggle_unsupported_warning").click(function() {
      $.cookie("skip_unsupported_warning", "true", { path: '/', expires: 365 });
    });

    $("#other-versions-link").click(function() {
      $("#pkg-options").slideToggle();
      $("#other-versions-link").hide();
      return false;
    });

    $('#show-extra-dists').click(function() {
      $('#show-extra-dists').hide();
      $('#unsupported-title').show();
      $('.extra-dists').slideToggle();
      return false;
    });

  });

</script>

<div id="unsupported-warning" class="hidden">
  <p>
    Please be aware that the following packages are from unofficial repositories. 
    That means they are not reviewed by openSUSE and may contain unstable or experimental software.
  </p>
  <p><input type="checkbox" id="toggle_unsupported_warning"/><label for="toggle_unsupported_warning">Don't show this warning the next time</label>
  </p>
</div>

<%= render :partial => 'search/find_form' %>

<div id="search_result_container">
  <div class="box box-shadow">
    <h2 class="box-header">
      <span class="alignleft"><%= @page_title -%></span>
    </h2>
    <div>

      <% if @packages.blank? %>
        <p>Package <%= @pkgname %> not found...</p>
      <% else %>

        <!-- Main Content -->

        <!-- Main Column -->
        <div id="pkg-content" class="grid_10 prefix_1 suffix_1">

          <div class="app-screenshot">
            <%= link_to( image_tag( screenshot_thumb_url( @pkgname ), :height => 120 ), @screenshot, { :rel => "lightbox", :title => "Screenshot of  #{@pkgname}" } ) %>
          </div>

          <div id="pkg-description">
            <h1><%= @name || @pkgname %></h1>
            <% desc_package = search_for_description( @pkgname, @packages ) %>
            <% unless desc_package.blank? %>
              <% unless @appcategories.blank? %>
                <p class="pkg-categorie-note">
                  <strong><%=  @appcategories.size > 1 ? _("Categories") : _("Category") %>:</strong>
                  <% @appcategories.each do |cat| -%>
                    <%= link_to cat, :controller => :package, :action => :category, :category => cat %>
                  <% end -%>
                </p>
              <% end -%>
              <h3><%=  desc_package.summary %></h3>
              <p id="pkg-desc"><%= prepare_desc desc_package.description -%></p>
              <!-- <i>(from <%= desc_package.project %>)</i> -->
            <%else %>
              <p>No description found...</p>
            <% end -%>

            <% unless @default_package.blank? %>
              <% url = url_for :controller => 'main', :action => 'ymp_without_arch_and_version',
                :project => @default_package.project, :repository => @default_package.repository, :package => @pkgname, :base => @default_package.baseproject %>
              <div id="one-click-button-box">
                <a id="one-click-button" href="<%= url %>">
                  <%= image_tag "download-arrow.png", :width => "36", :height => "36", :alt => "Download Arrow" %>
                  <strong>Direct Install</strong><br/>
                  <em><%=  @default_project_name %>,
                    Version <%= @default_package.version %><%= ", #{number_to_human_size desc_package.size}" if desc_package %></em>
                </a>
                <div id="other-versions-link"><a href="#">Show other versions</a></div>
              </div>
            <% end -%>
          </div>


          <div id="pkg-options" class="<%= "hidden" unless @default_package.blank? %>">
            <ul>
              <% @distributions.each do |distro| -%>
                <% if @packages.select{|s| s.baseproject == distro[:project]}.size > 0 %>

                  <li>
                    <a href="#" onclick=" toggle_dist('<%= distro[:dist_id] %>'); return false;"
                       class="distro-toggle" id="distro-toggle-<%= distro[:dist_id] %>"><%= distro[:name] %></a>
                    <ul class="pkg-options-details  <%= "hidden" unless (@default_package.blank? && (distro[:project] == @baseproject ))%>" id="dist_<%= distro[:dist_id] %>" >

                      <% official = @packages.select{|s| s.project == distro[:project] || s.project == "#{distro[:project]}:NonFree" } %>
                      <% update = @packages.select{|s| s.project == "#{distro[:project]}:Update"} %>

                      <%= render( :partial => 'download_rows', :locals => {:packages => official, :distro => distro} ) if update.blank? %>
                      <%= render :partial => 'download_rows', :locals => {:packages => update, :distro => distro} %>

                      <% official_projects = @distributions.map{|d| d[:project]} %>
                      <% devel = @packages.select{|s| s.baseproject == distro[:project] } %>
                      <% devel = devel.reject{|s| official_projects.include?( s.project ) || s.project.match( /^home\:/ ) || s.project.match( /#{distro[:project]}\:Update/ ) ||
                          s.project.match( /openSUSE\:Maintenance\:/ ) } %>
                      <% home = @packages.select{|s| s.baseproject == distro[:project] } %>
                      <% home = home.select{|s| s.project.match( /^home\:/ )} %>

                      <% unless home.blank? && devel.blank? %>
                        <li id="unsupported_link_<%= distro[:dist_id] %>">
                          <a class="trigger-show-more" href="#" onclick="toggle_unsupported('<%= distro[:dist_id] %>'); return false;">Show unsupported packages</a></li>
                      <% end -%>
                    </ul>
                    <ul class="pkg-options-details  hidden" id="dist_home_<%= distro[:dist_id] %>" >
                      <%= render :partial => 'download_rows', :locals => {:packages => devel, :distro => distro} %>
                      <%= render :partial => 'download_rows', :locals => {:packages => home, :distro => distro} %>
                    </ul>

                  </li>

                <% end -%>
              <% end -%>

              <% #get extra distributions that are not in the default distribution list %>
              <% @extra_packages = @packages.reject{|p| @distributions.map{|d| d[:project]}.include? p.baseproject } %>
              <% @extra_dists = @extra_packages.map{|p| p.baseproject}.reject{|d| d.nil?}.uniq.sort.map{|d| {:project => d}} %>

              <% unless @extra_dists.blank?  %>

                <a id="show-extra-dists" href="#">Show more packages for unsupported distributions</a>
                <div class="hidden" id="unsupported-title">Unsupported distributions:</div>
                <%  @extra_dists.each do |distro| -%>
                  <li class="extra-dists hidden">
                    <a href="#" onclick=" toggle_dist('<%= escape_for_id distro[:project] %>'); return false;"
                       class="distro-toggle" id="distro-toggle-<%= escape_for_id distro[:project] %>"><%= distro[:project].gsub(":", " ").sub("DISCONTINUED", "") %></a>
                       <% pks = @extra_packages.select{|s| s.baseproject == distro[:project] } %>
                    <ul class="pkg-options-details  hidden" id="dist_<%= escape_for_id distro[:project] %>" >
                      <%= render :partial => 'download_rows', :locals => {:packages => pks, :distro => distro} %>
                    </ul>
                  </li>
                <% end %>
              <% end %>

            </ul>
          </div>

        </div>

        <!-- End of Main Column -->

        <div class="clearfix"></div>

      </div>
      <!-- End of Main Content -->

    <% end -%>
  </div>
</div>
