%section.py-5
  .container
    .row
      .col-12.col-md-4
        %h2= _('Everything is transparent') 
        %p
          = _('From the start to finish, every package that goes into the distributions has all of its sources and build scripts widely visible for everyone to see. Doubtful of the source? Just check it out on the') 
          = link_to _('build service'), "https://build.opensuse.org"
      .col-12.col-md-4
        %h2= _('Free software? Your choice') 
        %p= _("Packages in the distributions are divided into free and non-free repositories. Don't want to use non-free packages? You can easily disable the non-free repository. It's your choice, not ours.")
      .col-12.col-md-4
        %h2= _('Contribute, please') 
        %p= _("We try our best to please the community, and we can only make this happen, when the community is vocal about what they need. That's why we made contributing as easy as possible.") 
        
