<% if @data.blank? %>
  <p><%= _("No appliance data for %{project}") % { project: @project } %></p>
<% else %>

  <script type="text/javascript">
    var hidetext = '<%= _("(hide)") %>';
    var showtext = '<%= _("(show)") %>';
    $(function(){
      $('.soo_button').click(function(){
        $('.soo_line').show();
        $('.soo_button').removeClass('soo_button_chosen');
        $(this).addClass('soo_button_chosen');
        var distro = $(this).attr('id').replace('soo_button_','');
        $('.soo_distro').hide();
        $('.soo_distro_' + distro).show();
        $('#soo_section_pkg').show();  $('#soo_section_toggle_pkg span').text(hidetext);
      });

      $('.soo_line').click(function(){
        $('#' + $(this).attr('id').replace('toggle_', '')).toggle();
        $(this).children('span').text($(this).children('span').text() == hidetext ? showtext : hidetext);
      });
    });
  </script>

  <%
  def gradient(top, mid, btm)
    "  background: #{mid};\n" +
      "  background: -webkit-gradient(linear, left top, left bottom, from(#{top}), to(#{btm}));\n" +
      "  background: -moz-linear-gradient(top,  #{top},  #{btm});\n" +
      "  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{top}', endColorstr='#{btm}');"
  end
%>

  <%= render(:partial => "download", :formats => [:css]) %>

  <% unless @flavors.blank? %>
    <div class="soo_box">
      <p class="soo_line soo_line_visible"><%= _("Select the image type") %></p>
      <div class="soo_flavour_line">
        <% @flavors.each do |flavor| %>
          <div class="soo_button" id="soo_button_<%= flavor %>"><img src="<%= image_path('download/' + flavor.downcase + '.png') %>" alt="<%= flavor %>" /><p><%= flavor %></p></div>
        <% end %>
      </div>
    </div>
  <% else %>
    <p><%= _("No appliances found in project %s") % @project %>.</p>
  <% end %>


  <div id="soo_pkg" class="soo_box">
    <p class="soo_line" id="soo_section_toggle_pkg"><%= _("Available Images") %><span></span></p>
    <div id="soo_section_pkg">
      <table>
        <% @data.each do |k,v| %>
          <tr class="soo_pkginfo soo_distro soo_distro_<%= v[:flavor] %> soo_distro_<%= k %>">
            <td><%= v[:flavor] + " " + _("Image:") %></td>
            <td><ul>
                <li><a href="http://download.opensuse.org/repositories/<%= @project %>/images/<%= k %>"><%= k %></a></li>
              </ul></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

<% end %>
