<%= render(:partial => "download", :formats => [:css]) %>
<div class="container" id="content">
<div id="soo_download_appliances_#{@project}">
<% if @data.blank? %>
  <h2><%= _("No appliance data for %{project}") % { project: @project } %></h2>
<% else %>
  <% unless @flavors.blank? %>
    <h1 class="font-weight-normal"><%= _("<b>%s</b> project") % [@project] %></h1>
      <h2><%= _("Select the image type") %></h2>
      <div class="row py-3">
        <% @flavors.each do |flavor| %>
        <button class="col btn btn-link btn-pointer align-items-center p-0" id="<%= flavor %>_button" data-toggle="collapse" data-target="#<%= flavor %>" aria-expanded="false" aria-controls="<%= flavor %>">
           <img src="<%= image_path('download/' + flavor.downcase + '.png') %>" alt="<%= flavor %>" />
           <h6><%= flavor %></h6>
        </button>
        </h5>
        <% end %>
      </div>
  <% else %>
    <h2><%= _("No appliances found in project %s") % @project %>.</h2>
  <% end %>


  <div id="accordion">
  
        <% @flavors.each do |flavor| %>
        <div class="card border-0">
          <div id="<%= flavor %>" class="collapse" aria-labelledby="heading<%= flavor %>" data-parent="#accordion">
            <div class="card-body p-3">
              <div class="row w-100">
                <% @data.select {|k,v| v[:flavor] == flavor }.each do |k,v| %>
                <div class="text-center col">
               
                  <h5><%= v[:flavor] + " " + _("Image:") %></h5>
                  <a href="https://download.opensuse.org/repositories/<%= @project %>/images/<%= k %>">
                    <button class="mb-3 mr-3 w-100 btn btn-primary">
                      <%= icon "download" %>
                      <span><%= k %></span>
                    </button>
                  </a>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
  </div>

<% end %>
</div>
</div>
