<%
@hide_search_box = true
@page_title = "openSUSE Promo DVDs"
-%>
<style type="text/css">
  table#promoformtbl *.mandatory {
    background-color: #d99;
  }
</style>

<div class="box box-shadow">
  <h2 class="box-header">
    <span class="alignleft"><%= @page_title -%></span></h2>
  <div>

    <div>
      <h2>Get Promo DVDs...</h2>
      <p><%= _("Join the fast-growing community, put openSUSE into more hands by
        getting the latest PromoDVD for your group, non-profit organization, school
        university or event like LUG meetings, installfests, and conferences.
        Promo DVDs help to increase awareness and visibility of openSUSE!") %>
      </p>

      <%- d_icon = image_tag('folder_go.png', :alt => "download", :width => 16, :height => 16) %>
      <p><%= (_("Promo DVDs and all the related artwork -labels and sleeve- can be
        downloaded from the <a href=\"http://download.opensuse.org/promodvd/\">promodvd
        download directory %s</a>. Keep in mind that this is a special version of openSUSE,
        namely designed for promotional distribution.") % d_icon).html_safe %>
      </p>

      <h3><%= _("... and keep us informed") %></h3>
      <p><%= _("We would like you, to keep us informed about your usage of the DVDs, so we
        can help you to promote your organization, event or school on our
        <a href='http://news.opensuse.org' title='news.opensuse.org'>news page</a>
        or other resources. (Hint! We love photos. Take lots of them!). Please contact us at
        <a href='mailto:opensuse-marketing@opensuse.org'>opensuse-marketing@opensuse.org</a>
        to discuss promotion and/or other ways we can assist you.") %>
      </p>

      <h3><%= _("... get other marketing stuff") %></h3>
      <p> We have a lot of other marketing material to download. Check out the
        <a href="http://en.opensuse.org/openSUSE:Marketing_materials">marketing materials page</a>
        in our wiki.

      <h3>... and organize a launch party</h3>
      <p> One special request if you are organizing a openSUSE launch party: Please
        make that clear in the "Reason" field below (if ordering a shipment) and ensure that your
        event is listed on the
        <a href="http://en.opensuse.org/openSUSE:Launch_parties">Launch Parties page</a>!
        And if you need help on organizing a launch party, check
        <a href="http://en.opensuse.org/openSUSE:Launch_party_HOWTO">the Launch party how-to</a>.
        You can find some cool posters and other artwork on that page as well.
      </p>

      <%# Dirty hack to get the form back in some situations %>
      <%= render "form" if params[:show_form] %>

  </div>
</div>
