<% version = '' if version.nil? %>
<h2 id="documentation"><%= _('Documentation') %></h2>
<ul>
  <li>
    <a href="https://doc.opensuse.org/documentation/leap/startup/single-html/book.opensuse.startup/index.html">
    <%= _('openSUSE Startup Guide') %>
    </a>
    <ul>
      <li>
        <a href="https://en.opensuse.org/Portal:ARM">
          <%= ('ARM Portal with Installation Hints for the AArch64 Port (aarch64)') %>

        </a>
      </li>
      <li>
        <a href="https://en.opensuse.org/Portal:PowerPC">
          <%= ('PowerPC Portal with Installation Hints for the PowerPC Port (ppc64le)') %>

        </a>
      </li>
    </ul>
  <li>
    <a href="https://doc.opensuse.org/release-notes/x86_64/openSUSE/<%= distro %>/<%= version %>">
      <%= _('Release Notes') %>
    </a>
  </li>
  <li>
    <a href="https://en.opensuse.org/openSUSE:License">
      <%= _('License') %>
    </a>
    </li>
  <li>
    <a href="https://doc.opensuse.org">
      <%= _('Full Documentation') %>
    </a>
  </li>
</ul>
