<h2 id="easy-ways-to-switch-to-opensuse-leap">
  <%= _('Easy Ways to Switch to openSUSE Leap') %>
</h2>
<p>
  <%= _('If you’re already running openSUSE you can upgrade by booting from the
  DVD/USB and choosing upgrade, or carry out an ‘Online Upgrade’ in a few
  commands.') %>
  <a href="<%= _('https://en.opensuse.org/SDB:System_upgrade') %>">
    <%= _('Online Upgrade Instructions') %>.
  </a>
</p>
<%= render 'upgrade_table' %>
