<h2 id="recommended-system-requirements">
  <%= _('Recommended System Requirements') %>
</h2>
<ul>
  <li><%= _('2 Ghz dual core processor or better') %></li>
  <li><%= _('2 GB system memory') %></li>
  <li><%= _('Over 40GB of free hard drive space') %></li>
  <li><%= _('Either a DVD drive or USB port for the installation media') %></li>
  <li><%= _('Internet access is helpful, and required for the Network Installer') %></li>
</ul>
