<table class="table">
  <thead>
    <tr>
      <th><%= _('From an older version or other Linux distro') %></th>
      <th><%= _('From Windows') %></th>
      <th><%= _('From OS X') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="<%= _('https://en.opensuse.org/SDB:Download_help#Using_Linux') %>">
          <%= _('How to burn a DVD on Linux.') %>
        </a>
      </td>
      <td>
        <a href="<%= _('https://en.opensuse.org/SDB:Download_help#Using_Microsoft_Windows') %>">
          <%= _('How to burn a DVD on Windows.') %>
        </a>
      </td>
      <td>
        <a href="<%= _('https://en.opensuse.org/SDB:Download_help#Using_MacOS_X_.2810.3_and_above.29') %>">
          <%= _('How to burn a DVD on OS X.') %>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= _('https://en.opensuse.org/SDB:Live_USB_stick') %>">
          <%= _('How to create a bootable USB stick on Linux.') %>
        </a>
      </td>
      <td>
        <a href="<%= _('https://en.opensuse.org/SDB:Create_a_Live_USB_stick_using_Windows') %>">
          <%= _('How to create a Bootable USB stick on Windows.') %>
        </a>
      </td>
      <td>
        <a href="<%= _('https://en.opensuse.org/SDB:Create_a_Live_USB_stick_using_Mac_OS_x') %>">
          <%= _('How to create a bootable USB stick on OS X.') %>
        </a>
      </td>
    </tr>
  </tbody>
</table>
