<h2 id="verify-your-download-before-use">
  <%= _('Verify Your Download Before Use') %>
  </h2>
<p>
  <%= _('Many applications can verify the checksum of a download. To verify
your download can be important as it verifies you really have got the
ISO file you wanted to download and not some broken version. You could
verify the file in the process of downloading. For example a checksum
(SHA256) will be used automatically if you choose Metalink in the
field above and use the add-on DownThemAll! in Firefox.') %>
</p>
<p>
  <%= _('For each ISO, we offer a checksum file with the corresponding SHA256 sum.') %>
</p>
<p>
  <%= _('For extra security, you can use GPG to verify who signed those .sha256 files.') %>
  <br>
  <%= _('It should be %{fingerprint}') % { fingerprint: link_to(content_tag(:strong, '22C0 7BA5 3417 8CD0 2EFE 22AA B88B 2FD4 3DBD C284'),
   'http://keyserver.opensuse.org/pks/lookup?search=0x3DBDC284&amp;fingerprint=on&amp;op=vindex') } %>
</p>
<p>
  <%= _('For more help verifying your download please read %{checksums_help}') % { checksums_help:
    link_to(_('Checksums Help'), _('https://en.opensuse.org/SDB:Download_help#Checksums')) } %>
</p>
