<header class="header-section ">
  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1><%= _('Get openSUSE') %></h1>
            <hr class="small">
            <span class="page-subheading">
              <%= _('openSUSE is completely free to download, use and share.') %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <table>
        <thead>
          <tr>
            <th>
              <%= link_to(tumbleweed_distributions_path) do %>
                <%= image_tag('jekyll/Tumbleweed-green.png', alt: "Tumbleweed Logo") %>
              <% end %>
              <%= link_to 'Tumbleweed', tumbleweed_distributions_path %>
            </th>
            <th>
              <%= link_to(leap_distributions_path) do %>
                <%= image_tag('jekyll/Leap-green.png', alt: "Leap Logo") %>
              <% end %>
              <%= link_to 'Leap', leap_distributions_path %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= _('Download openSUSE’s rolling release and always run the latest
              packages provided by the openSUSE Project.') %>
            </td>
            <td>
              <%= _('Download openSUSE’s regular release and enjoy the benefits
              of both enterprise-grade engineering and community-developed innovation.') %>
            </td>
          </tr>
        </tbody>
      </table>

      <hr>

      <table>
        <thead>
          <tr>
            <th>
              <%= link_to 'Testing', testing_distributions_path %>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= _('Help test openSUSE’s next version of Leap by downloading
              the latest development milestone.') %>
            </td>
          </tr>
        </tbody>
      </table>

      <hr>

      <h2 id="chosing-which-distribution-to-download">
        <%= _('Choosing which Distribution to Download') %>
      </h2>
      <p>
        <%= link_to 'openSUSE Tumbleweed', tumbleweed_distributions_path %>
        <%= _('is a <strong>rolling-release</strong>. This means the software is always
        the latest stable versions available from the openSUSE Project. Things
        will change regularly as Free and Open Source projects continually
        release new versions of their software.') %>
        <br>
        <%= _('Tumbleweed is recommended for <strong>Developers</strong>,
        <strong>openSUSE Contributors</strong>, and <strong>Linux/FOSS
        Enthusiasts</strong>.') %>
      </p>

      <p>
        <%= link_to 'openSUSE Leap', leap_distributions_path %>
        <%= _('is a <strong>regular-release</strong>. This means it releases') %>
        <a  href="<%= _('https://en.opensuse.org/openSUSE:Roadmap') %>">
        <%= _('annually') %></a>,
        <%= _('with security and stability updates being the priority during each release') %>
        <a href="<%= _('https://en.opensuse.org/Lifetime') %>"><%= _('lifetime') %></a>.
        <%= _('It is not expected to change in any significant way until its next annual release.') %>
        <br />
        <%= _('Leap shares a Common Base System with') %>
        <a href="https://www.suse.com/products/server/">SUSE Linux Enterprise</a>,
        <%= _('so major architectural changes are not expected for several years, aligned
        with each new Major Release (eg 12, 13, etc) of SUSE Linux Enterprise.') %>
        <br />
        <%= _('Leap is recommended for <strong>Sysadmins</strong>, <strong>Enterprise
        Developers</strong>, and <strong>‘Regular’ Desktop Users</strong>.') %>
      </p>

      <p>
        <%= _('Both distributions are well tested by') %>
        <a href="https://openqa.opensuse.org">openQA</a>
        <%= _('as well as by human openSUSE contributors so both can be relied
        upon to work.') %>
        <br>
        <%= _('Both distributions are fully capable of being used on a Desktop PC,
        laptop, server, or in the cloud.') %>
      </p>

      <p>
        <strong>
          <%= _('If you are still not sure, download') %>
          <%= link_to 'openSUSE Leap', leap_distributions_path %>
        </strong>
        <br>
        <%= _('It is easy to') %>
        <a href="<%= _('https://en.opensuse.org/openSUSE:Tumbleweed_upgrade') %>">
        <%= _('switch to openSUSE Tumbleweed')%></a>
        <%= _('if you change your mind later.') %>
      </p>

      <hr>

      <table>
        <thead>
          <tr>
            <th>
              <a href="https://en.opensuse.org/Derivatives"><%= _('Derivatives') %></a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= _('openSUSE has a number of unofficial derivative distributions.
              These are made by our awesome community, often for special
              purposes.') %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
