<div class="container text-center py-5">
  <h1 class="display-3"><%= _("openSUSE Distributions") %></h1>
  <p><%= _("For desktop, server and everything in between") %></p>
</div>
<div class="bg-light">
  <div class="container">
    <div class="row">
      <%= link_to desktop_distributions_path, class: 'col bg-wallpaper text-white text-center p-5' do %>
        <%= image_tag 'distributions/desktop.svg', alt: "Desktop Icon", class: "card-img-top animated bounceIn p-3", width: "128", height: "128" %>
        <h2>Desktop</h2>
        <h6>Selection of distributions for desktop use</h6>
      <% end %>
      <%= link_to server_distributions_path, class: 'col bg-server text-white text-center p-5' do %>
        <%= image_tag 'distributions/server.svg', alt: "Server Icon", class: "card-img-top animated bounceIn p-3", width: "128", height: "128" %>
        <h2>Server</h2>
        <h6>Selection of distributions for server use</h6>
      <% end %>
    </div>
  </div>
</div>
<div class="container text-center py-4">
  <h2><%= _("Or go straight to download pages for the distributions") %></h2>
</div>
<div class="bg-wallpaper">
  <div class="container">
    <div class="row">
      <%= link_to tumbleweed_distributions_path, class: 'col bg-tumbleweed-tint text-white text-center' do %>
        <%= image_tag 'distributions/tumbleweed-white.svg', alt: "Tumbleweed Logo", class: "card-img-top animated bounceIn", width: "72", height: "72" %>
        <h4>Tumbleweed</h4>
      <% end %>
      <%= link_to leap_distributions_path, class: 'col bg-leap-tint text-white text-center' do %>
        <%= image_tag 'distributions/leap-white.svg', alt: "Leap Logo", class: "card-img-top animated bounceIn", width: "72", height: "72" %>
        <h4>Leap <%= @stable_version %></h4>
      <% end %>
      <% if @testing_version.present? %>
        <%= link_to testing_distributions_path, class: 'col bg-testing-tint text-white text-center' do %>
          <%= image_tag 'distributions/testing-white.svg', alt: "MicroOS Logo", class: "card-img-top animated bounceIn", width: "72", height: "72" %>
          <h4>Leap <%= @testing_version %> (Testing)</h4>
        <% end %>
      <% end %>
      <%= link_to kubic_distributions_path, class: 'col bg-kubic-tint text-white text-center' do %>
        <%= image_tag 'distributions/kubic-white.svg', alt: "Kubic Logo", class: "card-img-top animated bounceIn", width: "72", height: "72" %>
        <h4>Kubic</h4>
      <% end %>
      <%= link_to microos_distributions_path, class: 'col bg-microos-tint text-white text-center' do %>
        <%= image_tag 'distributions/microos-white.svg', alt: "MicroOS Logo", class: "card-img-top animated bounceIn", width: "72", height: "72" %>
        <h4>MicroOS</h4>
      <% end %>
    </div>
  </div>
</div>
