<header class="download-home-header jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="page-heading">
      <%= leap_image_tag alt: "Leap 15 Logo", class: "animated jackInTheBox", width: "256", height: "256" %>
      <h1 class="display-3">
        openSUSE Leap <%= @version %>
      </h1>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#official-ports" role="tab">
          <%= _("Installation") %>
          <span class="badge badge-success">x86_64</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#jeos-ports" role="tab">
          <%= _("JeOS") %>
          <span class="badge badge-success">x86_64</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#livecd-ports" role="tab">
          <%= _("Live") %>
          <span class="badge badge-success">x86_64</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#unofficial-ports" role="tab">
          <%= _("Ports") %>
          <span class="badge badge-warning">aarch64</span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="official-ports" role="tabpanel">

        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (3.6GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64.iso.sha256" class="card-link"><%= _('Checksum') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64.iso.torrent" class="card-link"><%= _('Torrent File') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (120MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <section class="my-5">
          <div class="container" role="main">
            <%= render "choosing_media" %>
          </div>
        </section>

        <section class="my-5">
          <div class="container" role="main">
            <%= render "leap_switch" %>
          </div>
        </section>

      </div><!-- /.tab-pane -->

      <div class="tab-pane" id="jeos-ports" role="tabpanel">

        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                KVM and XEN (250MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For use in KVM or XEN HVM hypervisors") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-kvm-and-xen-Current.qcow2" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-kvm-and-xen-Current.qcow2.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-kvm-and-xen-Current.qcow2?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-kvm-and-xen-Current.qcow2.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                XEN (250MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For use in XEN PV hypervisors") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-XEN-Current.qcow2" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-XEN-Current.qcow2.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-XEN-Current.qcow2?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-XEN-Current.qcow2.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->

        </div><!-- /.card-deck -->

        <div class="card-deck">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                MS HyperV (900MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For running virtual machines on MS HyperV") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-MS-HyperV-Current.vhdx" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-MS-HyperV-Current.vhdx.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-MS-HyperV-Current.vhdx?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-MS-HyperV-Current.vhdx.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->


          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                VMware (800MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For running virtual machines in VMware") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-VMware-Current.vmdk" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-VMware-Current.vmdk.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-VMware-Current.vmdk?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-VMware-Current.vmdk.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->

        </div><!-- /.card-deck -->
        <div class="card-deck">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                OpenStack-Cloud (250MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For deployment on OpenStack clouds") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-OpenStack-Cloud-Current.qcow2" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-OpenStack-Cloud-Current.qcow2.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-OpenStack-Cloud-Current.qcow2?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/jeos/openSUSE-Leap-<%= @version %>-JeOS.x86_64-<%= @version %>.1-OpenStack-Cloud-Current.qcow2.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->


        </div><!-- /.card-deck -->
      </div><!-- /.tab-pane -->


      <div class="tab-pane" id="livecd-ports" role="tabpanel">

        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                GNOME (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                KDE (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                Rescue LiveCD (650MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-Rescue-CD-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-Rescue-CD-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-Rescue-CD-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-Rescue-CD-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /.tab-pane -->


      <div class="tab-pane" id="unofficial-ports" role="tabpanel">

      <div class="alert alert-warning my-3">
          <%= _('Ports of openSUSE Leap to architectures other than the
                PC are maintained by separate community teams, with
                limited resources.') %>
        </div>

        <h3 class="my-3">AArch64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (3.4GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-aarch64-Build124.1-Media.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-aarch64-Build124.1-Media.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-aarch64-Build124.1-Media.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-aarch64-Build124.1-Media.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (110MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-aarch64-Build124.1-Media.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-aarch64-Build124.1-Media.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-aarch64-Build124.1-Media.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-aarch64-Build124.1-Media.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /#unofficial-ports.tab-pane -->
    </div><!-- /.tab-content -->
    <div class="mt-3">
      <% if @legacy_release %>
        <%= link_to _('Download previous openSUSE Leap release'),
          legacy_distributions_path %>
      <% end %>
    </div>
  </div><!-- /.container -->


</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render partial: 'documentation', locals: { distro: "Leap" } %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "verify_download" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "requirements" %>
  </div>
</section>
