<% version = '42.3' %>
<% @page_title = _('openSUSE Leap') + " " + version -%>
<% @page_desc = _('Download openSUSE’s regular release and enjoy the benefits of both enterprise-grade engineering and community-developed innovation.') -%>
<% @page_image = image_path 'distributions/leap.svg' -%>
<header class="download-home-header jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="page-heading">
      <%= image_tag 'distributions/leap.svg', alt: "Leap Logo" %>
      <h1 class="display-3">
        openSUSE Leap <%= version %>
      </h1>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#official-ports" role="tab">
          <%= _("Official") %>
          <span class="badge badge-success">x86_64</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#unofficial-ports" role="tab">
          <%= _("Unofficial") %>
          <span class="badge badge-warning">ppc64le</span>
          <span class="badge badge-warning">aarch64</span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="official-ports" role="tabpanel">
        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (4.7GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-x86_64.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-x86_64.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-x86_64.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-x86_64.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (108MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-x86_64.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-x86_64.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-x86_64.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-x86_64.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /#official-ports.tab-pane -->

      <div class="tab-pane" id="unofficial-ports" role="tabpanel">

        <div class="alert alert-warning my-3">
          <%= _('These ports are not officially supported, and they are not as stable as official distributions.') %>
        </div>

        <h3 class="my-3">ppc64le</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (4.2GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-ppc64le-Build0130-Media.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-ppc64le-Build0130-Media.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-ppc64le-Build0130-Media.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-ppc64le-Build0130-Media.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (71MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-ppc64le-Build0130-Media.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-ppc64le-Build0130-Media.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-ppc64le-Build0130-Media.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/ppc/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-ppc64le-Build0130-Media.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <h3 class="my-3">aarch64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (3.8GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-aarch64-Build0200-Media.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-aarch64-Build0200-Media.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-aarch64-Build0200-Media.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-DVD-aarch64-Build0200-Media.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (91MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-aarch64-Build0200-Media.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-aarch64-Build0200-Media.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-aarch64-Build0200-Media.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/distribution/leap/<%= version %>/iso/openSUSE-Leap-<%= version %>-NET-aarch64-Build0200-Media.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /#unofficial-ports.tab-pane -->
    </div><!-- /.tab-content -->
  </div><!-- /.container -->
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "choosing_media" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "leap_switch" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render partial: 'documentation', locals: { distro: "Leap" } %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "verify_download" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "requirements" %>
  </div>
</section>
