<header class="download-home-header jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="page-heading">
      <%= leap_image_tag alt: "Leap 15 Logo", class: "animated jackInTheBox", width: "256", height: "256" %>
      <h1 class="display-3">
        openSUSE Leap <%= @version %> <sup><%= @testing_state %></sup>
      </h1>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#official-ports" role="tab">
          <%= _("Installation") %>
          <span class="badge badge-success">x86_64</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#livecd-ports" role="tab">
          <%= _("Live") %>
          <span class="badge badge-success">x86_64</span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="official-ports" role="tabpanel">

        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (3.6GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-DVD-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (120MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/<%= @version %>/iso/openSUSE-Leap-<%= @version %>-NET-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /.tab-pane -->

      <div class="tab-pane" id="livecd-ports" role="tabpanel">

        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                GNOME (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-GNOME-Live-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                KDE (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/distribution/leap/15.0/live/openSUSE-Leap-15.0-KDE-Live-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /.tab-pane -->

    </div><!-- /.tab-content -->

  </div><!-- /.container -->

</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "choosing_media" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "leap_switch" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render partial: 'documentation', locals: { distro: "Leap" } %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "verify_download" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "requirements" %>
  </div>
</section>
