<header class="header-section ">
  <div class="intro-header no-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
            <h1>Tumbleweed Ports</h1>
            <hr class="small">
            <span class="page-subheading">
              <%= _('Download alternative architectures of the rolling version of openSUSE, for desktop PCs, laptops, and servers.') %>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2 id="installation-media-aarch64"><%= _('Installation Media') %> - ARM 64-bit (AArch64)</h2>
      <table>
        <thead>
          <tr>
            <th>Tumbleweed</th>
            <th><%= _('Size') %></th>
            <th><%= _('Download Method') %></th>
            <th><%= _('Checksum') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DVD/USB Stick</td>
            <td>4.0GB</td>
            <td>
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
              </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
          <tr>
            <td>Network CD/USB Stick</td>
            <td>120/td>
            <td>
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
                </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 id="installation-media-intel-32"><%= _('Installation Media') %> - Intel 32-bit (i586)</h2>
      <table>
        <thead>
          <tr>
            <th>Tumbleweed</th>
            <th><%= _('Size') %></th>
            <th><%= _('Download Method') %></th>
            <th><%= _('Checksum') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DVD/USB Stick</td>
            <td>4.0GB</td>
            <td>
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
              </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
          <tr>
            <td>Network CD/USB Stick</td>
            <td>85MB</td>
            <td>
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
                </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 id="installation-media-powerpc-little"><%= _('Installation Media') %> - PowerPC Little Endian (ppc64le)</h2>
      <table>
        <thead>
          <tr>
            <th>Tumbleweed</th>
            <th><%= _('Size') %></th>
            <th><%= _('Download Method') %></th>
            <th><%= _('Checksum') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DVD/USB Stick</td>
            <td>2.9GB</td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
              </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
          <tr>
            <td><%= _('Network') %> CD/USB Stick</td>
            <td>85MB</td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
              </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <h2 id="installation-media-powerpc-big"><%= _('Installation Media') %> - PowerPC Big Endian (ppc64)</h2>
      <table>
        <thead>
          <tr>
            <th>Tumbleweed</th>
            <th><%= _('Size') %></th>
            <th><%= _('Download Method') %></th>
            <th><%= _('Checksum') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DVD/USB Stick</td>
            <td>2.9GB</td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
              </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
          <tr>
            <td><%= _('Network') %> CD/USB Stick</td>
            <td>85MB</td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso">
                <%= _('Direct Link') %>
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso.meta4">
                Metalink
              </a>
              |
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso?mirrorlist">
                <%= _('Pick Mirror') %>
              </a>
            </td>
            <td>
              <a href="http://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso.sha256">
                SHA256
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <%= render "choosing_media" %>
      <%= render "unsupported_live_media" %>
      <%= render "tumbleweed_switch" %>
      <%= render partial: "documentation", locals: { distro: 'Tumbleweed' } %>
      <%= render "verify_download" %>
      <%= render "requirements" %>
    </div>
  </div>
</div>
