<header class="download-home-header jumbotron jumbotron-fluid text-center">
  <div class="container">
    <div class="page-heading">
      <%= image_tag 'distributions/tumbleweed.svg', alt: "Tumbleweed Logo", class: "animated zoomInDown", width: "256", height: "256" %>
      <h1 class="display-3">
        openSUSE Tumbleweed
      </h1>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#official-ports" role="tab">
          <%= _("Official") %>
          <span class="badge badge-success">x86_64</span>
          <span class="badge badge-success">i586</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#unofficial-ports" role="tab">
          <%= _("Unofficial") %>
          <span class="badge badge-warning">aarch64</span>
          <span class="badge badge-warning">ppc64le</span>
          <span class="badge badge-warning">ppc64</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#livecd-ports" role="tab">
          LiveCD
          <span class="badge badge-warning">x86_64</span>
          <span class="badge badge-warning">i586</span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="official-ports" role="tabpanel">
        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (4.7GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (85MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
	        <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Kubic Image") %> (1.6GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Container as a Service Platform based on Kubernetes atop openSUSE MicroOS.") %></p>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Kubic-DVD-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Kubic-DVD-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Kubic-DVD-x86_64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Kubic-DVD-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <h3 class="my-3">i586</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (4.7GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-DVD-i586-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (85MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-NET-i586-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <section class="my-5">
          <div class="container" role="main">
            <%= render "choosing_media" %>
          </div>
        </section>

        <section class="my-5">
          <div class="container" role="main">
            <%= render "tumbleweed_switch" %>
          </div>
        </section>

      </div><!-- /#official-ports.tab-pane -->

      <div class="tab-pane" id="unofficial-ports" role="tabpanel">

        <div class="alert alert-warning my-3">
          <%= _('These ports are not officially supported, and they are not as stable as official distributions.') %>
        </div>

        <h3 class="my-3">aarch64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (4.7GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-DVD-aarch64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (340MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/aarch64/tumbleweed/iso/openSUSE-Tumbleweed-NET-aarch64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <h3 class="my-3">ppc64le</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (4.7GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64le-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (85MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64le-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <h3 class="my-3">ppc64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("DVD Image") %> (4.7GB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Contains a large collection of software for desktop or server use. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-DVD-ppc64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                <%= _("Network Image") %> (85MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <p class="card-text text-muted"><%= _("Downloads the installation system and all packages from online repositories. Suitable for installation or upgrade.") %></p>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso?mirrorlist" class="card-link"><%= _('Pick Mirror') %></a>
              <a href="https://download.opensuse.org/ports/ppc/tumbleweed/iso/openSUSE-Tumbleweed-NET-ppc64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <section class="my-5">
          <div class="container" role="main">
            <%= render "choosing_media" %>
          </div>
        </section>

        <section class="my-5">
          <div class="container" role="main">
            <%= render "tumbleweed_switch" %>
          </div>
        </section>

      </div><!-- /#unofficial-ports.tab-pane -->

      <div class="tab-pane" id="livecd-ports" role="tabpanel">

        <div class="alert alert-warning my-3">
          <p><%= _('Please be aware of the following limitations of the live images:') %></p>
	        <ul>
	          <li><%= _('They cannot be used to install or upgrade Tumbleweed. Please use the %{tumbleweed_media} instead.') %
	            { tumbleweed_media: link_to(s_('Tumbleweed installation media'), tumbleweed_distributions_path) } %></li>
	          <li><%= _('They have a limited package and driver selection, so cannot be considered an accurate reflection as to whether Tumbleweed will work on your hardware or not.') %></li>
            <li><%= _('They are not tested as thoroughly as the %{tumbleweed_media}.') %
	            { tumbleweed_media: link_to(s_('Tumbleweed installation media'), tumbleweed_distributions_path) } %></li>
            <li><%= _('Please review %{openqa}\'s test results if you want an indication whether these live medias are working as expected.') % { openqa: link_to('openQA', 'https://openqa.opensuse.org/') } %></li>
          </ul>
        </div>

        <h3 class="my-3">x86_64</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                GNOME LiveCD (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-GNOME-Live-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-GNOME-Live-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-GNOME-Live-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                KDE LiveCD (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-KDE-Live-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-KDE-Live-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-KDE-Live-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                Rescue LiveCD (650MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Rescue-CD-x86_64-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Rescue-CD-x86_64-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Rescue-CD-x86_64-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->

        <h3 class="my-3">i586</h3>
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                GNOME LiveCD (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-GNOME-Live-i686-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-GNOME-Live-i686-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-GNOME-Live-i686-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                KDE LiveCD (950MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For DVD and USB stick") %></h6>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-KDE-Live-i686-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-KDE-Live-i686-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-KDE-Live-i686-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">
                <span class="typcn typcn-download-outline"></span>
                Rescue LiveCD (650MB)
              </h4>
              <h6 class="card-subtitle mb-2 text-muted"><%= _("For CD and USB stick") %></h6>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Rescue-CD-i686-Current.iso" class="card-link"><%= _('Direct Link') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Rescue-CD-i686-Current.iso.meta4" class="card-link"><%= _('Metalink') %></a>
              <a href="https://download.opensuse.org/tumbleweed/iso/openSUSE-Tumbleweed-Rescue-CD-i686-Current.iso.sha256" class="card-link"><%= _('Checksum') %></a>
            </div>
          </div><!-- /.card -->
        </div><!-- /.card-deck -->
      </div><!-- /#unofficial-ports.tab-pane -->
    </div><!-- /.tab-content -->
  </div><!-- /.container -->
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render partial: 'documentation', locals: { distro: "Tumbleweed" } %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "verify_download" %>
  </div>
</section>

<section class="my-5">
  <div class="container" role="main">
    <%= render "requirements" %>
  </div>
</section>
