<footer class="global-footer">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3">
        <h6><%= _("Developers") %></h6>
        <ul class="list-unstyled">
          <li><a href="https://en.opensuse.org/Portal:Development"><%= _("Documentation") %></a></li>
          <li><a href="https://build.opensuse.org/"><%= _("Build service") %></a></li>
          <li><a href="https://bugzilla.opensuse.org/">Bugzilla</a></li>
          <li><a href="https://github.com/openSUSE">Github</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6><%= _("Information") %></h6>
        <ul class="list-unstyled">
          <li><a href="https://news.opensuse.org/"><%= _("News") %></a></li>
          <li><a href="https://doc.opensuse.org/release-notes/"><%= _("Release notes") %></a></li>
          <li><a href="https://events.opensuse.org/"><%= _("Events") %></a></li>
          <li><a href="http://planet.opensuse.org/"><%= _("Planet") %></a></li>
          <li><a href="https://shop.opensuse.org/"><%= _("Shop") %></a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6><%= _("Community") %></h6>
        <ul class="list-unstyled">
          <li><a href="https://forums.opensuse.org/"><%= _("Forums") %></a></li>
          <li><a href="https://connect.opensuse.org/">Connect</a></li>
          <li><a href="https://www.facebook.com/groups/opensuseproject/"><%= _("Facebook group") %></a></li>
          <li><a href="https://en.opensuse.org/openSUSE:Mailing_lists_subscription"><%= _("Mail lists") %></a></li>
          <li><a href="https://en.opensuse.org/openSUSE:IRC_list"><%= _("IRC channels") %></a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3">
        <h6><%= _("Social Media") %></h6>
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/en.openSUSE">Facebook</a></li>
          <li><a href="https://twitter.com/opensuse">Twitter</a></li>
          <li><a href="https://www.youtube.com/user/opensusetv">YouTube</a></li>
          <li><a href="https://t.me/opensusenews">Telegram</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-copyright-language-row">
      <div class="footer-copyright">
        &copy; 2011&ndash;2020 <%= _("openSUSE contributors") %>
      </div>
      <div>
        <a class = "footer-Contribute-ReportBugs" href="https://github.com/openSUSE/software-o-o" target="_blank" >
          <span>Contribute!</span>
          <i class="typcn typcn-social-github-circular"></i>
        </a>
      </div>
      <div>
        <a class = "footer-Contribute-ReportBugs" href="https://github.com/openSUSE/software-o-o/issues/new" target="_blank" >
          <span>Report Bugs</span>
          <i class="typcn typcn-warning-outline"></i>
        </a>
      </div>
      <div class="footer-language">
        Language <!-- This label should not be translated! -->
        <div class="btn-group dropup language-menu">
          <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
            <span class="selected-language"><%= LANGUAGE_NAMES[@lang] %></span>
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <% LANGUAGES.sort.each do |lang| %>
              <%= link_to LANGUAGE_NAMES[lang], params.permit.merge(:locale => lang), class: "dropdown-item" %>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</footer>
