%footer.footer
  .container
    .d-flex.justify-content-between
      .footer-copyright
        &copy; 2011&ndash;
        = Time.zone.now.year
        = _('openSUSE contributors')
      .list-inline
        - github_link = 'https://github.com/openSUSE/software-o-o'
        = link_to _('Source Code'), github_link, class: 'list-inline-item'
        = link_to _('License'), "#{github_link}/blob/master/LICENSE",
                  class: 'list-inline-item'
