<nav id="global-navbar" class="navbar navbar-toggleable navbar-inverse bg-inverse">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="https://www.opensuse.org/">
        <img src="/chameleon/images/logo/logo-white.svg" width="48" height="30" class="d-inline-block align-top" alt="openSUSE Logo">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><%= _("Download") %></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/search"><%= _("Software") %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://doc.opensuse.org/"><%= _("Documentation") %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://en.opensuse.org/"><%= _("Wiki") %></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://forums.opensuse.org/"><%= _("Forums") %></a>
            </li>
        </ul>
    </div>
</nav>