<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= @lang %>" lang="<%= @lang %>">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title || _('openSUSE Software') %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>

    <link rel="search" type="application/opensearchdescription+xml" title="openSUSE Software" href="/search_software.xml" />
    <link href="https://software.opensuse.org/favicon.ico" rel="shortcut icon" />

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>

    <%= yield :content_for_head %>

    <script type="text/javascript">
      /* <![CDATA[ */
<%= yield :head_javascript %>
  $(function() {
<%= yield :ready_function %>
  });
  /* ]]> */
    </script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      (function(){
        var u="https://beans.opensuse.org/piwik/";
        _paq.push(['setSiteId', 7]);
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['trackPageView']);
        _paq.push([ 'setDomains', ["*.opensuse.org"]]);
        var d=document,
        g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
        g.type='text/javascript';
        g.defer=true;
        g.async=true;
        g.src=u+'piwik.js';
        s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

    <% if @lang == "ar" %>
      <style type="text/css">
        body {direction:rtl}
      </style>
    <% end %>
    <style>
      html, body {
        min-height:100vh;
      }
      body {
        display: flex;
        flex-flow: column;
      }
      #content {
        margin-top: auto !important;
        margin-bottom: auto !important;
      }
    </style>

  </head>
  <body>

    <% activenav ||= 'software' %>
    <%= render :partial => "layouts/navbar", :locals => {:activenav => 'software' } %>

    <% unless flash.blank? %>
      <%= render(:partial => "layouts/flash", :object => flash) %>
    <% end %>

    <div id="content" class="container_12 content-wrapper">

      <% unless @hide_search_box %>
        <%= render :partial => 'search/find_form', :locals => { :baseproject => @baseproject } %>
      <% end %>

      <div id="search_result_container">
        <%= yield %>
      </div>
    </div>

    <%= render :partial => "layouts/footer" %>

  </body>
</html>
