<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= "software.opensuse.org: #{@page_title}" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>

    <link rel="search" type="application/opensearchdescription+xml" title="openSUSE Software" href="/search_software.xml" />

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "/chameleon/css/app.css" %>
    <%= javascript_include_tag "/chameleon/js/app.js" %>
    <link href="//static.opensuse.org/themes/bento/images/favicon.png" rel="shortcut icon" />
    <%= javascript_include_tag "application"  %>
    <%= javascript_include_tag "/themes/bento/js/l10n/global-navigation-data-#{@lang || "en"}.js" %>

    <%= yield :content_for_head %>

    <script type="text/javascript">
      /* <![CDATA[ */
<%= yield :head_javascript %>
  $(function() {
<%= yield :ready_function %>
  });
  /* ]]> */
    </script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      (function(){
        var u=(("https:" == document.location.protocol) ? "https://beans.opensuse.org/piwik/" : "http://beans.opensuse.org/piwik/");
        _paq.push(['setSiteId', 7]);
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['trackPageView']);
        _paq.push([ 'setDomains', ["*.opensuse.org"]]);
        var d=document,
        g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
        g.type='text/javascript';
        g.defer=true;
        g.async=true;
        g.src=u+'piwik.js';
        s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

    <% if @lang == "ar" %>
      <style type="text/css">
        body {direction:rtl}
      </style>
    <% end %>

  </head>
  <body>

    <%= render :partial => "layouts/navbar" %>

    <% unless flash.blank? %>
      <%= render(:partial => "layouts/flash", :object => flash) %>
    <% end %>

    <div id="content" class="container_12 content-wrapper">

      <% unless @hide_search_box %>
        <%# Caching is really crucial in the front page (at release date, at least) %>
	<% if controller.controller_name == "main" && controller.action_name == "release" %>
          <% cache :locale => @lang, :baseproject => (@baseproject || default_baseproject) do %>
            <%= render :partial => 'search/find_form' %>
          <% end %>
        <% else %>
          <%= render :partial => 'search/find_form' %>
        <% end %>
      <% end %>

      <div id="search_result_container">
        <%= yield %>
      </div>
    </div>

    <div id="footer" class="container_12">
      <div id="footer-content" class="grid_12 alpha">
      </div>
      <div id="footer-legal" class="border-top grid_12 alpha">
        <p>© <span id="year"><%= Date.today.year %></span> SUSE and others. |
          <a href="http://en.opensuse.org/Portal:Project">About openSUSE</a> |
          <a href="http://en.opensuse.org/Terms_of_site">Legal information</a> |
          <a href="mailto:admin@opensuse.org">Feedback</a> |
          Source code available at <a href="https://github.com/openSUSE/software-o-o/">GitHub</a>
        </p>
      </div>
    </div>

  </body>
</html>
