<!DOCTYPE html>
<html>
  <head>
    <%= yield :content_for_head %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
     /* <![CDATA[ */
    <%= yield :head_javascript %>
    $(function() {
      <%= yield :ready_function %>
    });
    /* ]]> */
    </script>

  </head>
  <body>

    <%= yield %>

  </body>
</html>
