<!DOCTYPE html>
<html>
  <head>
    <%= yield :content_for_head %>
    <%= stylesheet_link_tag "/chameleon/css/app.css" %>
    <%= stylesheet_link_tag "app" %>
    <%= javascript_include_tag "/chameleon/js/app.js" %>
    <script type="text/javascript">
     /* <![CDATA[ */
    <%= yield :head_javascript %>
    $(function() {
      <%= yield :ready_function %>
    });
    /* ]]> */
    </script>

  </head>
  <body>

    <%= yield %>

  </body>
</html>
