<!DOCTYPE html>
<html lang="<%= @lang %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title><%= _('Get openSUSE') %></title>
    <meta name="author" content="openSUSE">
    <meta name="description" content="openSUSE is completely free to download, use and share.">

    <link rel="alternate" type="application/rss+xml" title="Get openSUSE - Get the version you need. Download openSUSE Tumbleweed. Download openSUSE Leap. Download openSUSE Alpha, Beta, and RC Development Versions." href="/newsite/feed.xml">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.2/css/bootstrap.min.css">
    <%= stylesheet_link_tag "jekyll" %>

    <!-- Facebook OpenGraph tags -->
    <meta property="og:title" content="Get openSUSE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://software.opensuse.org">
    <meta property="og:image" content="https://software.opensuse.org/favicon.ico">
    <meta name="theme-color" content="#73BA25">
    <link href="https://software.opensuse.org/favicon.ico" rel="shortcut icon" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
            <span class="sr-only"><%= _('Toggle navigation') %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= _('Get openSUSE') %></a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Tumbleweed', tumbleweed_distributions_path %>
            </li>
            <li>
              <%= link_to 'Leap', leap_distributions_path %>
            </li>
            <li>
              <a href="/search"><%= _('Package Search') %></a>
            </li>
          </ul>
        </div>
        <div class="avatar-container">
            <div class="avatar-img-border">
              <%= link_to('/') do %>
                <%= image_tag('jekyll/avatar-icon.png', class: 'avatar-img', alt: 'openSUSE Logo') %>
              <% end %>
            </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <%= render(:partial => "layouts/footer") %>
    <%= render(:partial => "layouts/piwik") %>

    <script src="//cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "main" %>
  </body>
</html>
